[2022-04-18 12:06] Ressetkk commented on #4968
/remove-lifecycle stale
/lifecycle frozen

[2022-04-18 12:07] Ressetkk commented on #4755
/open
/remove-lifecycle rotten
/lifecycle frozen

[2022-04-19 09:33] Halamix2 commented on #5283
The functions were copied to https://github.com/kyma-test-infra-dev/tooling-serverless-functions, and value files adjusted.

[2022-04-19 10:25] Halamix2 opened #5290 "Create KMS key cleaner"
**Description**

Create GCP key cleaner to disable and destroy old versions of keys.

**Reasons**

Automatic key rotation creates new keys without disabling or destroying the old ones.

**Acceptance Criteria**

 - [x] Make sure old versions are not in use
 - [x] disable previous key version after a new version was rotated (allow to configure the delay)
 - [x] destroy older versions of a key

**Att

[2022-04-19 10:38] Halamix2 commented on #5290
/assign

[2022-04-20 10:38] Disper opened #5294 "Improvements to GitHub Projects (beta)"
**Description**
After write access to `kyma-project/kyma` was revoked due to implementation of https://github.com/kyma-project/community/issues/613, `GitHub projects (beta)` boards became much less useful.

**Reasons**
- GitHub Projects (beta) UI is a convenient tool to be used to navigate and edit issues that's no longer usable in a same way since write access has been revoked.
- Fields edited vi

[2022-04-20 10:39] Disper commented on #5294
/area tooling

[2022-04-20 10:50] arturskorupa commented on #5294
/area xyz

[2022-04-20 10:53] arturskorupa opened #5295 "Improvements to the kyma-bot"
Once the issue is created, kyma-bot should immediately write a message with link to help page (like it does now when I enter wrong label).

Acceptance criteria:

- [ ] Kyma-bot writes a comment with help right after issue is created.

[2022-04-20 10:54] arturskorupa commented on #5295
/area tooling

[2022-04-20 12:47] NHingerl commented on #5037
...and one in https://github.com/kyma-project/kyma/pull/13987. @kwiatekus manually had to remove the label.

[2022-04-20 14:08] arturskorupa commented on #5295
/area xyz

[2022-04-20 15:09] NHingerl commented on #5037
...and here https://github.com/kyma-project/cli/pull/1249

[2022-04-21 07:44] arturskorupa commented on #5295
/area sdlkjfsdlkjfsd

[2022-04-21 07:45] NHingerl commented on #5037
...and here https://github.com/kyma-project/test-infra/pull/5303#pullrequestreview-948179195

[2022-04-21 08:28] #5076 closed

[2022-04-21 09:42] arturskorupa commented on #5295
/area  dfglkjdfgld

[2022-04-22 00:27] Ressetkk commented on #5037
@Halamix2 please also update the tests so they reflect your change

[2022-04-22 08:26] adityabhatia commented on #5167
For **Kyma CLI** **gardener pipelines** `kyma-upgrade-gardener-kyma-to-kyma2` will be renamed to `kyma-upgrade-gardener-kyma2-minor-versions`. This will check previous minor versions, going back from the latest release. The no. of previous minor minor versions to be tested for upgrade can be specified via env variable `PREVIOUS_MINOR_VERSION_COUNT`.
To add, **k3d pipeline** (WIP) to test minor upg

[2022-04-22 08:27] adityabhatia commented on #5167
/assign @hanngos

[2022-04-22 12:29] jakobmoellersap commented on #5167
As we've implemented the kyma-upgrade-gardener-kyma-to-kyma2 release job I think we can consider this a non-release-blocker anymore @Sawthis ?

[2022-04-22 12:58] dekiel opened #5312 "Restore write access and revert Prow approval flow."
**Description**

This is high level plan for each repository to rollback prow approval flow and restore write access to repository.

We will create separate issues for each action and repository with details of required changes.

Rollback plan for each repository.
1. Migrate OWNERS groups to GitHub teams.
2. Migrate content of OWNERS files to CODEOWNERS.
3. Restore write access for all teams and o

[2022-04-23 18:42] dekiel opened #5314 "Restore write access and revert Prow approval flow for kyma repository"
**Description**

Rollback plan.
1. Migrate content of OWNERS files to CODEOWNERS. https://github.com/kyma-project/kyma/pull/14075
2. Restore write access for all teams and organisation members.
3. Remove approve and blunderbuss plugins for repository from test-infra/prow/plugins.yaml file. #5317
4. Enable required reviews from codeowners in test-infra/prow/config.yaml. #5317
5. Move repository to

[2022-04-23 19:01] dekiel opened #5315 "Clenaup after rollback of prow approval flow plugin"
**Description**

Disable unused plugins. #5316
Remove unused labels.
Revert changes in documentation.
Remove unused external plugin need-tws.
~~Remove Triage GitHub team.~~
Remove OWNERS and OWNERS_ALIASES files.

Parent: #5312

[2022-04-24 20:46] dekiel opened #5319 "Restore write access and revert Prow approval flow for cli repository"
**Description**

Rollback plan.
1. Migrate content of OWNERS files to CODEOWNERS. https://github.com/kyma-project/cli/pull/1252
2. Restore write access for all teams and organisation members.
3. Remove approve and blunderbuss plugins for repository from test-infra/prow/plugins.yaml file. #5320
4. Enable required reviews from codeowners in test-infra/prow/config.yaml. #5320
5. Move repository to Ti

[2022-04-24 21:41] dekiel opened #5322 "Restore write access and revert Prow approval flow for compass repository"
**Description**

Rollback plan.
1. Migrate content of OWNERS files to CODEOWNERS. https://github.com/kyma-incubator/compass/pull/2325
2. Restore write access for all teams and organisation members.
3. Remove approve and blunderbuss plugins for repository from test-infra/prow/plugins.yaml file. #5321
5. Enable required reviews from codeowners in test-infra/prow/config.yaml. #5321
6. Move repository

[2022-04-25 07:38] NHingerl commented on #5037
Thank you @Halamix2 and @Ressetkk for getting this to work :)

So far, my approval doesn't remove the label, at least not in https://github.com/kyma-project/kyma/pull/13878

[2022-04-25 07:46] dekiel opened #5323 "Restore write access and revert Prow approval flow for test-infra repository"
**Description**

Rollback plan.
1. Migrate content of OWNERS files to CODEOWNERS. #5327
2. Restore write access for all teams and organisation members.
3. Remove approve and blunderbuss plugins for repository from test-infra/prow/plugins.yaml file. #5329
5. Enable required reviews from codeowners in test-infra/prow/config.yaml. #5329
6. Move repository to Tide query requiring GitHub approval in te

[2022-04-25 07:50] dekiel opened #5324 "Restore write access and revert Prow approval flow for third-party-images repository"
**Description**

Rollback plan.
1. Migrate content of OWNERS files to CODEOWNERS. https://github.com/kyma-project/third-party-images/pull/218
2. Restore write access for all teams and organisation members.
3. Remove approve and blunderbuss plugins for repository from test-infra/prow/plugins.yaml file. #5330
5. Enable required reviews from codeowners in test-infra/prow/config.yaml. #5330
6. Move re

[2022-04-25 08:14] Sawthis commented on #5167
@jakobmoellersap so it tests upgrade from 2.0.4 to 2.1.3 on Gardener now? And it will be able to test upgrade from 2.1.3 to 2.2.0 when it will be released?

[2022-04-25 09:07] jakobmoellersap commented on #5167
This means it tests 2.0.4 to 2.1.3 and then 2.1.3 to 2.2.0

[2022-04-26 08:28] dekiel commented on #5322
@Ressetkk  Compass team already established some process around automated labeling and multi team approvals provided by Prow approval flow. We need to check if we can provide some solution which will prevent workaround of PR review and keep current team process.

[2022-04-26 08:49] dekiel commented on #5322
Revert on compass repository is put on hold till we will agree with the team on suitable solution to meet their new process requirements.

[2022-04-26 12:07] #5319 closed

[2022-04-26 12:08] #5324 closed

[2022-04-26 12:36] #5323 closed

[2022-04-26 12:42] dekiel commented on #5315
Triage group removed from cli and third-party-images repositories. No Triage group in test-infra and compass repository.

Triage group left to remove on kyma repository.

[2022-04-26 14:05] #5314 closed

[2022-04-26 15:17] dekiel commented on #5315
Triage group removed.
OWNERS files removed in repos cli, kyma, test-infra, third-party-images

[2022-04-26 16:20] Ressetkk commented on #5312
I would suggest to leave OWNERS files for now. They contain definitions for automated labelling.

[2022-04-27 08:53] kwiatekus commented on #5229
This was done.
Provisioning shoot clusters for kyma already had a built in retry operation - see [here](https://github.com/kyma-project/test-infra/blob/a44cadce5b7a41e776edea08fb646cb543780e1b/prow/scripts/lib/gardener/gcp.sh#L91)
Retry for shoot creation for reconciler itself was added by https://github.com/kyma-project/test-infra/pull/5230

[2022-04-27 08:53] #5229 closed

[2022-04-27 11:19] dekiel commented on #5229
Retry logic for cluster provisioning was failing, because script using this logic had `set -o pipefail`. With this bash option enabled retry logic was failing [here](https://github.com/kyma-project/test-infra/blob/bbc80f6c3833c179913899e3d3f0847e0f051083/prow/scripts/lib/utils.sh#L639). Fix was implemented in https://github.com/kyma-project/test-infra/pull/5287/files. It simply disable `pipefail`

[2022-04-28 10:03] dekiel commented on #5283
Once new git controller for serverless implementation will be available we should move kyma functions back to kyma-project/test-infra repository.

New git controller for serverless implementation: https://github.com/kyma-project/kyma/issues/13545

[2022-04-28 16:41] NHingerl commented on #5037
one remnant here: https://github.com/kyma-project/kyma/pull/13329

[2022-05-04 09:42] halamix2 opened #5370 "[Daily Business] Change clusterscollector exclude behavior"
**Description**

Currently the list needs to contain exact name of clusters, e.g `nightly-22`

clusterscollector tool can tak as an input list of cluster names separated by comma, and it'll remove all clusters older than3  hours except the ones from the input list
The issue is that this tool should work like other ones we have and take regex as an input, the current list is --excluded-clusters=kym

[2022-05-06 08:46] Halamix2 opened #5395 "Kubernetes external secrets is deprecated"
**Description**

[Kubernetes external secrets](https://github.com/external-secrets/kubernetes-external-secrets) is deprecated

**Acceptance Criteria**

- [x] replace it with the [External Secrets Operator](https://github.com/external-secrets/external-secrets) chart
    - ~~check if https://github.com/external-secrets/kes-to-eso would help~~

[2022-05-09 09:02] Ressetkk commented on #5295
@arturskorupa can you describe more about which help page you are talking about? Every comment from @kyma-bot has a "Details" section which should contain basic information about how to interact with the automation. This template should be easily editable.

[2022-05-09 10:00] jakobmoellersap commented on #5167
Also relates to https://github.com/kyma-project/kyma/pull/14220 and https://github.com/kyma-project/test-infra/pull/5394

[2022-05-09 16:23] #5037 closed

[2022-05-09 16:49] dekiel commented on #5228
What does it mean "remove the requirement of setting up every repo" for us? When we create new repo it will be automatically configured and added to Prow? Based on what settings this will be done? How this will be different from webhook set on org level?
How we can use this improvement? "improves the scaleability of Prow across the organisation"
How we can leverage that Prow will be connected to b

[2022-05-10 08:30] Ressetkk commented on #5228
@dekiel you'd have a single application that could be configured only once and then you could "Install" it without any additional requirements, like setting up Webhook on organisation level and maintaining the HMAC token across multiple orgs/repos If it needs to be regenerated. Additionally you don't need to operate on personal access tokens for the bot, so you don't really care about keeping trac

[2022-05-10 09:24] dekiel commented on #5228
@Ressetkk

But you still have to authenticate your automation to github. How this will be different from current setup?

[2022-05-10 09:57] Ressetkk commented on #5228
@dekiel Good question. I'm not quite sure how it works with dependabot, but I assume it would work in a similar way. This is something worth checking out.

Regardless the internal ProwJobs and their workings, this would change how Prow is defined in GitHub - instead of regular user used with PAT and owner rights to the org/repo plus Webhook client that validates events based on token in header, yo

[2022-05-10 09:59] dekiel commented on #4755
@Ressetkk If we make current setup build all dockerfiles with one prowjob and use some shared makefile we will solve problems you mention, without introducing new tools for only golang images. I'm not convinced we need another separate tool and process for that. With using ko I will have to install it on my workstation to locally build images.

[2022-05-10 10:58] Ressetkk commented on #4755
@dekiel lets at least evaluate that and make small demo. Using ko seems to be actually a big improvement especially for go-oriented programs, even kyma components, and lets you not care about any of the Dockerfiles, Makefiles and shell scripts - just one simple .ko.yaml that contains all components to be built in parallel without Docker daemon, context and other stuff.

[2022-05-10 11:46] Ressetkk commented on #5017
Leaving this topic open for now, since there are other work to do for now. Feel free to pick it up.
/unassign
/lifecycle frozen

[2022-05-10 17:57] dekiel opened #5407 "Automated release of Kyma"
**Description**

In #4971 we agreed on our strategy of creating branches, tags and releases. A new way will be implemented by providing automated process of Kyma release. A first version of proposed steps were shared in #4971 issues as well. This is issue is a next step increasing automation level in release process. The purpose of this issue is to agree on automation design, steps and act as pare

[2022-05-10 18:00] dekiel commented on #4971
Implementation of new branching strategy for releases will be done under #5407

[2022-05-10 18:00] #4971 closed

[2022-05-11 09:48] strekm opened #5411 "[Istio] test pipeline for istio eval profile"
**Description**

Create pipeline triggered by changes in istio or istio-resources kyma components. Pipeline should provision k3d cluster, install partially kyma (kyma pre-reqs + istio-res) from main branch and execute Istio component tests. Evaluation profile should be used to kyma installation. Script should be implemented in a way that can be reused for [Istio on prod pipeline](https://github.co

[2022-05-11 09:52] strekm opened #5412 "[Istio] test pipeline for istio prod profile"
**Description**

Create pipeline triggered by changes in istio or istio-resources kyma components. Pipeline should provision k3d cluster, install partially kyma (kyma pre-reqs + istio-res) from branch and execute Istio component tests. Production profile should be used to kyma installation. Script should be implemented in a way that can be reused for [Istio on eval pipeline](https://github.com/kym

[2022-05-12 15:28] dekiel commented on #5315
@Ressetkk is there anything not cleaned yet? Can we close this issue?

[2022-05-12 15:31] Ressetkk commented on #5315
We need to move compass to old flow. It's tracked in other issue. Let's close this one as kyma-project is already cleaned up.

/close

[2022-05-12 15:31] #5315 closed

[2022-05-12 23:01] dekiel opened #5427 "Release issue templates requirements."
**Description**

Release issue will be used as an interface to release process. It will carry release status, updates about progress, aggregate related activities and provide commands to interact with release automation. Creation of release issue will start release process. We will use issue form to create issue. Using issue form allow us to define which input is required and its values.
Issue for

[2022-05-13 08:47] Ressetkk commented on #4818
It's still relevant until we decide on final approach.

/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-05-13 08:48] Ressetkk commented on #4312
It's still relevant until we decide on final approach.

/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-05-13 08:49] Ressetkk commented on #4979
It's still relevant until we decide on final approach.

/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-05-13 08:49] Ressetkk commented on #5019
It's still relevant until we decide on final approach.

/reopen
/remove-lifecycle rotten
/lifecycle active

[2022-05-13 14:01] Ressetkk commented on #5322
We came with an agreement. Clean up is done.

/clone

[2022-05-13 14:01] Ressetkk commented on #5322
/close

[2022-05-13 14:01] #5322 closed

[2022-05-13 14:02] Ressetkk commented on #5312
All required cleaning up is done. we will be able to revert that in the future if we change our minds.

/close

[2022-05-16 08:24] kasiakepka opened #5435 "Migrate Pipelines to Gardener Live environment"
Reoccurring issues with infrastructure availability on Canary instance causes Prow Pipelines to fail therefore  we are seeking for environment that will provide high availability of Gardener Services and Cluster API server. We will migrate Prow Pipelines from Gardener Canary to Live instance.

### Tasks:
- [x] create [CAM request](https://bc.spc.ondemand.com/sap/bc/webdynpro/a1sspc/cam_wd_central?

[2022-05-17 11:39] dzahariev opened #5441 "Path was altered with no reason and as result in buildpack-golang default kubectl is 1.16"
**Description**
In the image: https://github.com/kyma-project/test-infra/tree/main/prow/images/buildpack-golang
Just before kubebuilder installation the [path is altered](https://github.com/kyma-project/test-infra/blob/f0261846d2af8216e352456242862313ade4463d/prow/images/buildpack-golang/Dockerfile#L44):
[code]
This moves the binaries in kubebuilder folder in front of the path than the other tools

[2022-05-17 13:23] jakobmoellerdev opened #5442 "[Cost Saving] Educate team in QA SIG call: How to remove SSH Connection from Provisioning Scripts and rely on native API-Server Forward"
**Description**

The following scripts are using SSH based on gcloud to connect and execute code via copied-over scripts:

- provision-vm-and-start-busola-docker.sh
- provision-vm-and-start-busola-k3s.sh
- provision-vm-and-start-busola-lighthouse.sh
- provision-vm-and-start-kyma-k3d.sh
- provision-vm-and-start-kyma-minikube.sh
- provision-vm-and-start-kyma-upgrade-k3d.sh
- provision-vm-and-start-r

[2022-05-18 08:59] medmes commented on #5442
Hi @jakobmoellersap Does `rsync` will not be useful for this case?

[2022-05-18 09:43] Ressetkk commented on #4967
We cannot remove the VERSION file usage without completely changing the pipelines. Release integration jobs rely on the artifacts that are generated by kyma-artifacts and after the cut-off we update the release artifacts, also integration scripts name the test clusters based on the contents of the VERSION when running from release branch, so we have to have the information about the upcoming versi

[2022-05-18 12:40] jakobmoellersap commented on #5167
@hanngos is this solved by now or are there still efforts ongoing?

[2022-05-18 15:48] dekiel commented on #4967
@Ressetkk Could you please describe what does it mean in practice "Release integration jobs rely on the artifacts that are generated by kyma-artifacts and after the cut-off we update the release artifacts"? How this relate to the VERSION file?
What you mean byt test tags "As we don't push test tags we're not able to retrieve the required information about version."? Are those tags which test somet

[2022-05-18 17:03] Ressetkk commented on #4967
@dekiel Current approach works that way: artifacts release job runs on all release branches and updates the Kyma-components.yaml file in the GCP bucket for the *next* release. It allows to install this specific version through kyma cli, on which our current pipelines rely on. It's a legacy approach which was relevant for Kyma 1.x, because you had to have installer image, which was built using this

[2022-05-18 19:08] dekiel commented on #4967
@Ressetkk for what we need a source of truth? For creating a release tag and release itself only or its needed for something else? If we need this for release only, we can make a jobs independent from VERSION file. The dependency on VERSION file in process of creation release we can remove when we will have agreement of changes in a process.
We know that jobs must be rewritten because they relay o

[2022-05-19 08:58] Ressetkk commented on #4967
@dekiel we need VERSION to be stored somewhere, else we will not be able to promote the `kyma-components.yaml` file for use in the installation during the release testing. It can be omitted when we rewrite pipelines to use `kyma install --local` and use local charts inside the job, but IIRC reconciler requires this file to be present on a bucket, so we need to promote it. We could publish artifact

[2022-05-19 10:38] dekiel commented on #4967
@Ressetkk If I understand correctly, we can remove VERSION file but we need rewrite pipelines. However we need a source of truth so instead a VERSION file we will maintain a tags to know a version to install. Maybe it's better to automate maintaining a VERSION file?

[2022-05-19 11:07] Ressetkk commented on #4967
@dekiel Exactly. I think removing VERSION file would benefit in the long-term since we remove the need to watch another file and we attach to the release process we will have to use anyway.

[2022-05-20 12:13] Ressetkk commented on #4967
Since recent discussions about modularity of Kyma which would change the release and effort to close that Issue we've decided to postpone it for the future when more discussion will be made.

/lifecycle frozen
/unassign

[2022-05-20 13:19] Ressetkk commented on #4935
Time to unfreeze this!
/remove-lifecycle frozen
/assign

[2022-05-23 07:33] kasiakepka opened #5455 "Implement protected tags"
## Reasons
Currently anyone with write access to a repo can push any tags and create release. There’s no auditing/logging of tag changes.
Setting up protected tags sounds like an easy way to mitigate this problem.
https://github.com/kyma-project/test-infra/issues/5492

### Task
Set protection rules on repositories: kyma, cli

AC:
- [ ] Make sure that all people responsible have necessary privilege

[2022-05-23 07:51] kasiakepka commented on #4805
Testgrid instance could be helpful for Jellyfish team as they go through Prow dashboard and try to determine `flaky tests` manually every day. It will be also beneficial for whole Kyma to see unstable tests and pipelines statistics.

[2022-05-23 13:25] jakobmoellersap commented on #5442
Removed failing test as it is not hard blocking any tests and it is only about improving testability not actually unblocking anything

[2022-05-23 13:26] jakobmoellersap commented on #5442
if you get it to work without scp through rsync that will be accepted however maybe not worth replacing due to the effort required.

[2022-05-23 13:31] #5167 closed

[2022-05-24 10:37] dekiel opened #5471 "Central logging for prowjobs."
Many prowjobs create additional components during execution. This can be k8s clustrs, virtual machines etc. On top of this infrastructure prowjobs usually install Kyma and run tests against it. At present logs from different components and prowjob itself are stored independent in different storage locations and types. Moreover, each component writes logs without metadata about prowjob execution co

[2022-05-25 08:51] kasiakepka opened #5475 "Automatic reporting for failing tests"
### Why?
Currently there is no easy way to determine which pipelines are failing frequently. Jellyfish team goes through Prow dashboard and tries to determine flaky tests/pipelines manually every day. It will be also beneficial for whole Kyma to see unstable tests and pipelines statistics.
Example list of manually created tickets: https://github.com/issues?q=is%3Aopen+is%3Aissue+org%3Akyma-project

[2022-05-25 10:44] Ressetkk commented on #4935
So, upon further investigation I have managed to achieve similar building approach with Google Cloud Build, as in our current approach. This is working basically with leveraging build processes to the external infrastructure that handles their own Docker environment and every event triggers a predefined trigger on GCP. Those triggers work based on GitHub events.
![image](https://user-images.github

[2022-05-25 13:52] kasiakepka commented on #4967
This issue is not valid due to upcoming changes with Kyma modularisation. The cost of implementing this issue is too big when you compare it to the value it brings.

[2022-05-25 13:52] #4967 closed

[2022-05-26 07:40] kasiakepka commented on #5435
Still waiting for approval.

[2022-05-26 08:18] Halamix2 opened #5481 "Remove github-stats job"
**Description**

`github-stats` job generates JSON reports that are pushed to a database, but the results are unused
**Reasons**

**Acceptance Criteria**

- [x] remove `github-stats` job
- [x] remove database and logs router

**Attachments**

[2022-05-26 09:26] Ressetkk commented on #4935
I've also tested approach, where we have one big `cloudbuild.yaml` file, and all images are built concurrently. This approach would allow us to prepare only static set of triggers which would build all images one by one, and if needed we could re-use cache, if some images depend on each other.
* That would be ideal for approach "code and build" - no need to set up infra to have your image built, j

[2022-05-26 10:00] dekiel commented on #4935
@Ressetkk this issue is missing detailed description of requirements and problems we would like to solve by this implementation. For me one of requirements of this issue is to solve privileged containers issue on Prow. With such requirement we can't evaluate solution for images in test-infra only. Once we will have requirements defined we can discuss about proposed solution.

For me this issue sho

[2022-05-26 10:09] Ressetkk commented on #4935
@dekiel it's a broader topic and most likely will require more work, than evaluating different build infrastructure. This issue only tackles the problem of evaluating Google Cloud Build to use it for building our images outside of Prow so we can remove the need for privileged containers.

[2022-05-26 10:14] dekiel commented on #5475
@kasiakepka in the past I've build system which watch a prowjob statuses and create issues for each failed postsubmit and periodic. The system is smart enough to create only on issue per periodic prowjob, so subsequent failures of the same periodic job create only one github issue. This system can be easily updated with features like detecting flaky tests, closing issues when success rate is high

[2022-05-26 12:35] Ressetkk commented on #4935
Our images are all images that we have under `prow/images` directory. Those directly work on Prow as bases for ProwJobs. To remove usage of Docker daemon in Prow and still build them - we need to find a solution. This is the one, for which I've created demo and shared my insights. It's a part of a bigger step to complete remove the usage of docker daemon, and is not a go-to solution for everyone.

[2022-05-26 13:36] Halamix2 commented on #5177
Autobumper can update image tags in inrepo config prowjobs out of the box: https://github.com/kubernetes/test-infra/blob/master/prow/cmd/generic-autobumper/README.md

[2022-05-27 12:44] Halamix2 opened #5486 "Check if images exists in values.yaml"
**Description**

- check if the image version exists before merging the PR
**Reasons**

- don't allow to merge PR with values.yaml referencing nonexistent images
- in some cases postsubmit image creation for components may fail without generating an image

**Acceptance Criteria**

- [x] extend `image-url-helper` to handle image existence check
    - [x] create jobs running on presubmit that checks

[2022-05-27 12:45] kasiakepka opened #5487 "post-main-k3d-k8s-preview failing"
**post-main-k3d-k8s-preview job is failing constantly from Feb 14**

Log:
`Deploying Kyma
X Component 'CRDs' failed. Retrying...
no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"
 `
`ERROR: (gcloud.compute.scp) [/usr/bin/scp] exited with return code [1].
2022-05-24 16:19:50 UTC [INFO] PID:13 --- [/home/prow/go/src/github.com/kyma-project/test-infra/prow/scrip

[2022-05-27 12:52] kasiakepka commented on #5487
@kyma-project/jellyfish can you please check missing `junit_kyma-fast-integration.xml` file?

[2022-05-27 13:02] Halamix2 commented on #5487
junit is not a problem here (it shouldn't fail job even if the file is missing), Kyma is unable to install:
[code]

[2022-05-30 08:18] kasiakepka commented on #5487
@kyma-project/jellyfish can you please look at it?

[2022-05-30 11:47] kasiakepka opened #5492 "Prow Approval Flow [post-mortem]"
## Background
With this issue we would like to track next steps after revering "Prow Approwal Flow" and revise results of that change.
See [here](https://sap-btp.slack.com/archives/DGC4849U6/p1651667660547579) a little bit of history why it was reverted.

The change was aimed at improving developer experience and accelerating review process (see [here](https://github.com/kyma-project/community/iss

[2022-05-30 11:53] kasiakepka opened #5493 "Track Github configuration changes"
Changes in GitHub settings should be tracked in an issue to increase security and to be able to track changes and rollback if needed.
Examples: when changing protection rules, adding new GH member, changing permissions.

AC:
- [x] Developers are aware that they should create GH issue when they need a repository or project configuration change
- [x] There is an issue template to request such change

[2022-05-30 11:56] dekiel commented on #5475
https://github.com/kubernetes/test-infra/tree/master/metrics
https://github.com/kubernetes/test-infra/tree/master/kettle

[2022-05-30 12:16] kasiakepka commented on #5475
related issue https://github.com/kyma-project/test-infra/issues/3806

[2022-05-30 12:41] kasiakepka commented on #5492
Close if needed: https://github.com/kyma-project/test-infra/issues/5295

[2022-05-30 12:43] kasiakepka commented on #5215
Let's think if wee need to keep such documentation.

[2022-05-30 12:49] arturskorupa commented on #5295
I mean when one creates an issue, kyma bot should immediately add a comment by itself with details link. As a new user I may not know how to manage the ticket I just created, given I was revoked write access rights.

Note this is only relevant to the situation when we revoke write rights.

[2022-05-30 13:02] strekm opened #5494 "api-gateway component test pipeline"
**Description**

Add pre and post main pipelines executing api-gateway component tests. Pipelines should run if api-gateway component resources or tests are changed. List of components should be adjusted. Pipelines should be added to kyma integration gardener pipelines. Script is ready but needs adjustments (istio-resources component added). Check and remove if not needed pipeline [building api-ga

[2022-05-30 14:57] dekiel opened #5496 "Pjtester can run test for prowjob from inrepo config."
**Description**

Pjtester must support testing prowjobs defined as inrepo config.

See #5177

[2022-06-01 13:49] #5475 closed

[2022-06-02 06:44] barchw commented on #5412
https://github.com/kyma-project/test-infra/pull/5482

[2022-06-02 06:45] barchw commented on #5411
https://github.com/kyma-project/test-infra/pull/5482

[2022-06-02 08:12] pbochynski opened #5507 "Remove unused jobs"
**Description**

The jobs:
-  https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-rel22-kyma-integration-k3d
- [post-cli-integration-kyma-1](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-cli-integration-kyma-1)

[2022-06-02 08:57] k15r opened #5508 "[CI] Provide functionality to automatically display job description for every prow job"
**Description**

Every prow job should print within the first few lines of the 'build log' a description of what the purpose of the job is.

**Reasons**

Figuring out what a job does is a really tedious endeavour atm as one has to
- read scripts
- check all logs from a job run

**Acceptance Criteria**
- [ ] every prow job can contain a description used for printing
- [ ] every prow job automatical

[2022-06-02 09:07] Ressetkk commented on #4935
Multi-arch builds are shown [here](https://cloud.google.com/architecture/building-multi-architecture-container-images-iot-devices-tutorial).

I've tested using GCB from console on test-infra images (bootstrap, buildpack-golang (it will work the same way in Prow) and on one of the Kyma components. Where this configuration works for test-infra, the components would be a tad bit complex to introduce.

[2022-06-02 12:17] #5481 closed

[2022-06-03 07:12] dekiel commented on #5508
@k15r we could store description in an prowjob annotation. It should be easy to crate function which read pod annotations at the very beginning.
Exposing annotations to containers can be done in two ways. By extending a generic prowjob template we can automaticaly add required env vars or files with annotations.

https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-p

[2022-06-03 07:14] dekiel commented on #5508
@kasiakepka FYI

[2022-06-03 07:54] kasiakepka opened #5522 "Periodic: kyma-integration-k3d-compass-dev"
**Description**

**Expected result**

**Actual result**

**Steps to reproduce**

**Troubleshooting**

[2022-06-03 07:59] kasiakepka opened #5523 "Periodic: skr-aws-upgrade-integration-dev"
**Description**
Job is failing for a week: 42 executions, 100% failure rate
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/skr-aws-upgrade-integration-dev

**Expected result**

Fix or delete the job if not needed.

[2022-06-03 08:02] kasiakepka opened #5524 "Periodic: skr-aws-upgrade-integration-dev"
**Description**
Job is failing for a month: 181 executions, 28% success rate
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/skr-aws-upgrade-integration-dev

**Expected result**

Fix or delete the job if not needed.

[2022-06-03 08:06] kasiakepka opened #5525 "Presubmit: pre-main-test-infra-vpathguard"
**Description**
Job is failing for a month: 458 executions, 0% success rate

**Expected result**

Fix or delete the job if not needed.

[2022-06-03 08:08] kasiakepka opened #5526 "Presubmit: pre-main-kyma-integration-k3d-istio-production"
**Description**
Job is failing for a month: 110 executions, 1% success rate

**Expected result**

Fix or delete the job if not needed.

[2022-06-03 08:10] kasiakepka opened #5527 "Presubmit: pre-main-reconciler-protecode-guard"
**Description**
Job is failing for a month: 68 executions, 1,5% success rate

**Expected result**

Fix or delete the job if not needed.

[2022-06-03 08:11] kasiakepka opened #5528 "Presubmit: pre-main-kyma-skr-eventing"
**Description**
Job is failing for a month: 421 executions, 4,8% success rate

**Expected result**

Fix or delete the job if not needed.

[2022-06-03 08:21] kasiakepka opened #5529 "Delete Prowjobs"
As agreed on PO meeting.
to delete: https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-k3d-k8s-preview
to delete: https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-kyma-gardener-azure-alpha-prod
to delete: https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-compass-integration
to delete: https://status.bui

[2022-06-03 08:34] kasiakepka commented on #5527
@kyma-project/jellyfish Can you please look at it?

[2022-06-03 08:35] kasiakepka commented on #5528
@k15r Can your team please look at it?

[2022-06-03 08:35] kasiakepka commented on #5526
@strekm Can your team please look at it?

[2022-06-03 08:36] kasiakepka commented on #5522
@PK85 Can you please help me find appropriate assignment for that?

[2022-06-03 08:42] k15r commented on #5525
Isn't the idea of this test to fail? It should prevent merging PRs that contain pjtester configuration. @dekiel ?

[2022-06-03 08:43] k15r commented on #5528
We're checking...

[2022-06-03 08:53] kasiakepka commented on #5525
Yes it is!

[2022-06-03 08:53] #5525 closed

[2022-06-03 09:50] dekiel commented on #5475
@kasiakepka do you have some examples of criteria which should be evaluated before creating an issue? In my opinion we can create system smart enough to create a valuable issues. Of course at the beginning set of feature will be limited but in my opinion such system can be widely extended with more features and integrated with other processes.

Usually, at the end a solution will require a human a

[2022-06-03 10:04] kasiakepka opened #5530 "[CI] Bug: nightly build is triggered for future release that does not exist"
Nightly build is triggered for future release that does not exist yet.
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-gke-nightly-rel24
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-gke-nightly-rel23

[2022-06-03 11:47] k15r commented on #4935
Regarding requirements:

[2022-06-03 11:51] strekm opened #5531 "Update Istio images to 1.14.x"
**Description**

Expose Istio 1.14.x istio distroless images available in kyma repo.

**Reasons**

Keeping Istio up to date

**Acceptance Criteria**

- [x] Istio images updated to version 1.14.x in image-syncer
- [x] Istio images in version 1.14.x available in kyma repo

**Attachments**
https://github.com/kyma-project/kyma/issues/14490

[2022-06-03 12:26] barchw commented on #5494
Api-gateway test building pipeline removed in: https://github.com/kyma-project/test-infra/pull/5532

[2022-06-07 12:15] Ressetkk commented on #5250
For the demo purposes I created secret `super-secret` on untrusted cluster with value `super-secret-value`. I also created ProwJob that uses the decoration config with enabled censoring.
[code]

For the execution you can see the logs [here](https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/demo-secret-obscurity/1534145829512679424). It shows that the directory /var/secret/secret exi

[2022-06-07 13:09] raypinto commented on #5528
We're tracking this failing test under [this issue](https://github.com/kyma-project/kyma/issues/13976). Currently this issue is blocked by the Director API issue.

[2022-06-07 18:14] Ressetkk commented on #4935
GCB is just build infrastructure. We can use it for building images the same way how we build them with DinD. With that we can meet requirements for SLC-29 regarding not using Docker daemon in jobs.

Criteria we meet:
✅ We can remove Docker in Docker for building images
✅ It will work with all images that we build on Prow right now - just need proper Dockerfile and cloudbuild.yaml file
✅ Jobs will

[2022-06-08 08:13] dekiel commented on #4935
@Ressetkk

This problem has it's own issue. Check [slc-29] Restrict write access to OCI registries for CI/CD technical users. internal issue.

We should not start any implementation before we know last requirement will be possible to meet or we must ask for exception.

[2022-06-08 08:36] dekiel commented on #4935
@Ressetkk do you have some draft PR or dev setup where I can read `cloudbuild.yaml` files, see directory structure, read prowjob spec and code it execture, check GCB workflow configuration.

I read k8s builder docs. It looks that we could use it, maybe it will require some extend. However I need to understand a whole setup to comment.
Regarding securing access to credentials, a usage of google met

[2022-06-08 10:22] Ressetkk commented on #4935
I haven't created ProwJobs since I have to prepare Prow to use workload identity. You can check the cloudbuild.yaml files that I linked in the comments above. I don't really know if it's a solution - we have to create k8s SA -> GCP SA bindings and those also can be changed in ProwJob definition. This will only remove the requirement of attaching GCP keys as secrets in pods.

 Unless we restrict ac

[2022-06-08 10:56] dekiel commented on #4935
@Ressetkk files you linked are for scenario with one shared cloudbild.yaml and for scenario with triggers defined directly on GCB. As far I understand the last scenario which meets most of our requirements is different. Is one of cloudbuild.yaml files you linked the one used in last scenario?

[2022-06-08 11:00] Ressetkk commented on #4935
@dekiel Yes, it is required. The way the build triggers only gets changed - you use gcloud command to run the workload.

[2022-06-08 11:55] raypinto commented on #5528
The `pre-main-kyma-skr-eventing` pipeline has been fixed with [this PR](https://github.com/kyma-project/kyma/pull/14515/).

[2022-06-08 12:55] Ressetkk commented on #5442
I would rather go with finding a way to expose K8s ports on k3d VMs. It's more of infra task than code.

[2022-06-09 07:03] #5528 closed

[2022-06-09 13:17] Halamix2 commented on #5442
These scripts doesn't create k8s cluster inside the VM:
* provision-vm-and-start-busola-docker.sh

[2022-06-09 14:48] dekiel commented on #4935
@Ressetkk which one?

[2022-06-10 06:08] m00g3n commented on #5492
- All Wookiees are up for **option 2 and option 3** (we may need the tags back if the release process change and we will have own repo but in current process option 3 is justified).
- We also think it is up to Neighbors to decide about turning on/off the automatic assignment of a reviewer in prow repo.

[2022-06-10 09:19] dekiel commented on #5492
We went for GitHub auto review assignement feature for prow team. Check this comment for details https://github.com/kyma-project/community/issues/613#issuecomment-1152155808

[2022-06-10 10:53] #5529 closed

[2022-06-10 14:56] Ressetkk opened #5567 "[CI] Periodic updates of the statuses from CLA assistant"
SAP CLA Assistant is constantly failing to update their statuses due to unknown reasons. We should find a way to execute periodic updates on the statuses. This slows down development, increases number of question and assistance requests.

Here's my idea:

* When the developer creates PR, CLA Assistant plug-in, after short period of time to give the CLA Assistant status to report, adds label `cla-a

[2022-06-13 06:31] jakobmoellersap commented on #5527
I've talked with @TorstenD-SAP about this and apparently this job is supposed to check for protecode success. I think the job may be configured badly. Will recheck what the status is, maybe we have to rewrite if we dont want to delete it as it apparently has some expectations that are clearly not fullfillable in day2day working.

[2022-06-13 10:00] strekm opened #5574 "misbehaving istio component pipeline"
**Description**

Goat team added mandatory istio component pipeline that should only be triggered for istio related changes. despite what seems to be correct configuration pipeline was triggered and mandatory at PRs not related to istio.

**Expected result**

Istio pipeline should be triggered and treated as mandatory only for istio related changes

**Actual result**

pipeline triggered and treate

[2022-06-13 10:00] jeremyharisch commented on #5492
The Jellyfish now decided and we voted for Option 3 to go with the protected Tags.

(The internal results: option1: 0 votes, option2: 2 votes, option3: 8 votes)

[2022-06-13 10:59] kasiakepka opened #5575 "CI/CD facing modularisation"
## Background
With this issue I am trying to capture changes that will come with modularisation. It is a starting point for the discussion about what we implement and how we implement it.

I think that upcoming changes are good opportunity to review CI/CD solution we provide. I hope that it will be also a good chance to improve Prow pipelines.

 **Modularisation implies that:**
- We split the mono

[2022-06-13 11:11] lilitgh commented on #5492
Huskies and Tunas voted for Option 3

[2022-06-13 12:10] Disper commented on #5492
Framefrog were preferring either options 2+3 or just 3.

[2022-06-13 15:50] dekiel commented on #5496
**This is a work in progress**
Adding support for inrepo config in pjtester requires changes in a way pjtester is preparing tested prowjob. With inrepo config a pjtester must be able to test changes in prowjobs which are stored in repositories other than test-infra. That means it must be able to run and trigger tests on PRs in these repositories. When running on PR in another repository pjtester s

[2022-06-14 08:28] kasiakepka opened #5581 "Failing skr-azure-nightly"
Job is constantly failing from May 26th
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/skr-azure-nightly

Test fails:
[code]

Provisioning fails:https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/
**Expected result**

Fix or delete the job if not needed.

[2022-06-14 08:31] kasiakepka opened #5582 "Failing skr-azure-integration-dev"
skr-azure-integration-dev job is failing from May 27th
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/skr-azure-integration-dev?buildId=
[code]

**Expected result**

Fix or delete the job if not needed.

[2022-06-14 08:36] Ressetkk commented on #5574
I have checked the regular expression and the configuration of the infra. The only thing that comes to my mind is that adding any static ProwJob generates a status on existing PRs that should be affected by the regex. We know that this issue happens, but we lack information about what changed according those 4 days and on how many PRs the status showed up. I assume that regex was too permissive an

[2022-06-14 08:38] kasiakepka opened #5583 "Failing post-main-kcp-cli"
Job is failing from June 3rd.
[code]
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-kcp-cli?buildId=

**Expected result**

Fix or delete the job if not needed.

[2022-06-14 09:44] kasiakepka commented on #5492
### So we have the winner: `Use protected tags` (option 3 )
I know that Goats ale also for `option 3`, not sure what about Gophers but still  option 3 wins.

[2022-06-14 09:45] #5295 closed

[2022-06-14 09:46] kasiakepka commented on #5294
Closing due to https://github.com/kyma-project/test-infra/issues/5492

[2022-06-14 09:46] #5294 closed

[2022-06-14 09:46] #5284 closed

[2022-06-14 10:35] Halamix2 commented on #5442
Analysis of all mentioned scripts:
- scripts that doesn't create clusters
    - provision-vm-and-start-busola-docker.sh
        - connects to existing Gardener Kyma cluster and runs Cypress tests
- uses scripts from archived `local-kyma` repository
    - provision-vm-and-start-busola-lighthouse.sh
    - provision-vm-and-start-busola-k3s.sh
- uses `kyma provision k3d`
    - provision-vm-and-start-k

[2022-06-14 11:23] kasiakepka commented on #5530
It is "blocked" by in repo config.

[2022-06-14 11:27] Ressetkk commented on #5442
In the long run, we want to run step of creating VM with k3s/k3d cluster using Terraform/Pulumi. That should ultimately resolve and deprecate all unnecessary scripts.

[2022-06-14 12:22] Sawthis commented on #5581
Periodic [skr-azure-nightly](https://status.build.kyma-project.io/?type=periodic&job=skr-azure-nightly) job failed 3 times(100%) in last 24h counting from 14.06.2022 2PM.

[2022-06-14 12:25] Sawthis commented on #5524
@kasiakepka I think it is duplicate of: https://github.com/kyma-project/test-infra/issues/5523

[2022-06-14 12:26] Sawthis commented on #5523
Periodic [skr-aws-upgrade-integration-dev](https://status.build.kyma-project.io/?type=periodic&job=skr-aws-upgrade-integration-dev) job failed 4 times in last 24h counting from 14.06.2022 2PM.

[2022-06-14 12:26] Sawthis commented on #5524
Periodic [skr-aws-upgrade-integration-dev](https://status.build.kyma-project.io/?type=periodic&job=skr-aws-upgrade-integration-dev) job failed 4 times in last 24h counting from 14.06.2022 2PM.

[2022-06-14 12:27] Sawthis commented on #5523
https://github.com/kyma-project/kyma/issues/14386

[2022-06-14 12:28] Sawthis commented on #5524
https://github.com/kyma-project/kyma/issues/14386

[2022-06-14 12:28] Sawthis commented on #5524
https://github.com/kyma-project/kyma/issues/14368

[2022-06-14 12:31] Sawthis commented on #5524
I think it is duplicate of: https://github.com/kyma-project/test-infra/issues/5523 .
@kasiakepka please reopen if needed.

[2022-06-14 12:31] #5524 closed

[2022-06-14 13:09] kasiakepka opened #5585 "[CI] Set owners / introduce metadata for Prow Jobs and Pipelines"
### What?
We should have easy way to determine who is an owner of the pipeline. It would also be helpful to have an option to add further metadata (e.g. purpose of the pipeline) to the pipeline.

We can implement mandatory Prowjob annotation that will tell:
- Who is responsible for the pipeline. In most ceses it will be a team but it also can be release manager, security or one person.
- What is t

[2022-06-14 14:09] kasiakepka commented on #5435
kyma-prow project on Canary is deleted.

[2022-06-14 14:09] #5435 closed

[2022-06-14 14:21] kasiakepka opened #5586 "Failing: post-main-k3d-k8s-preview"
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-k3d-k8s-preview?buildId=

[2022-06-15 08:40] barchw opened #5588 "Set api-gateway pipeline to mandatory"
**Description**
After checking that the pipeline is running successfully set it to mandatory

**Related issues**
https://github.com/kyma-project/test-infra/issues/5494

[2022-06-15 08:43] #5494 closed

[2022-06-15 08:44] #5411 closed

[2022-06-15 09:15] Sawthis commented on #5523
Periodic [skr-aws-upgrade-integration-dev](https://status.build.kyma-project.io/?type=periodic&job=skr-aws-upgrade-integration-dev) job failed 4 times in last 24h counting from 15.06.2022 11AM.

[2022-06-15 09:17] Sawthis commented on #5581
Periodic [skr-azure-nightly](https://status.build.kyma-project.io/?type=periodic&job=skr-azure-nightly) job failed 3 times(100%) in last 24h counting from 15.06.2022 11AM.

[2022-06-15 09:29] #5492 closed

[2022-06-15 12:11] kasiakepka commented on #5112
https://github.com/kyma-project/test-infra/blob/main/docs/prow/prow-jobs-quick-start.md

[2022-06-15 12:56] strekm commented on #5531
istio 1.14.1 was release in meantime. please add it

[2022-06-15 13:08] #5412 closed

[2022-06-15 13:25] cnvergence commented on #5526
Should be fixed now with
- https://github.com/kyma-project/test-infra/pull/5576

Job histories:
- https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-kyma-prod-istio-integration-k3d
- https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-kyma-eval-istio-integration-k3d

[2022-06-15 13:25] #5526 closed

[2022-06-17 10:58] Ressetkk commented on #5442
After some investigation and trial-and-error we managed to provision K3d cluster with exposed its apiserver ports. The cluster is provisioned on virtual machine with using command
[code]
This command creates k3d cluster with exposed apiserver port 6443, exposed ports 80, 443 and range 32000-32767 for NodePort workloads. Additionally command `--k3s-arg "--tls-san=[IP_ADDRESS]@servers:*"` adds Subje

[2022-06-21 08:32] jakobmoellersap opened #5616 "nightly-main-reconciler-e2e is failing due to rafter-controller-manager being checked for Metrics endpoint"
**Description**

Since 21. Jun, we have failing tests in

` 1) Executing Standard Testsuite:        Prometheus Tests:          Prometheus targets should be healthy:      AssertionError: Following targets are unhealthy: rafter-controller-manager: Get "http://100.96.1.30:8080/metrics": dial tcp 100.96.1.30:8080: connect: connection refused: expected [ 'rafter-controller-manager: Get "http://100.96.1

[2022-06-21 12:20] tobiscr commented on #5616
Related to https://github.com/kyma-project/kyma/issues/13155

[2022-06-21 13:58] arturskorupa commented on #5523
All executions failed with the same set of errors:

[code]

[2022-06-22 08:35] varbanv commented on #5523
Closing due to the original failure cause was fixed. New ticket will be opened for latest pipeline failures.

[2022-06-22 08:35] #5523 closed

[2022-06-22 10:11] Halamix2 commented on #3662
Uptime check for prow console and Grafana were moved to kyma-prow project.

[2022-06-22 10:11] #3662 closed

[2022-06-22 11:23] #5616 closed

[2022-06-22 11:54] Halamix2 commented on #5442
I have opened a PR (#5599), which is currently blocked by https://github.com/kyma-project/cli/issues/1291
The script:

* creates a VM, provisions k3d cluster on the VM (using `kyma provision k3d` command through SSH), and exports kubeconfig file to the prowjob
* In the prowjob we're trying to provision Kyma (using `kyma deploy` command), but it fails, as it expects the k3d cluster to be on the sam

[2022-06-23 06:09] strekm commented on #5574
lets close it as i didn't hear anything about it. thanks for investigating

[2022-06-23 06:09] #5574 closed

[2022-06-23 11:02] #5531 closed

[2022-06-24 09:15] Ressetkk commented on #5585
I've created a PR to k8s/test-infra that adds a warning if some of the annotations are not present. https://github.com/kubernetes/test-infra/pull/26656 Once this gets merged we'll be able to modify the `checkconfig` flags to include the annotations we want. This should work with in-repo configurations.
/kind feature
/area prow

[2022-06-24 12:14] Ressetkk opened #5637 "Create tool that run docker builds on Google Cloud Build"
With the results of https://github.com/kyma-project/test-infra/issues/4935 we agreed that we need to have a tool that is able to run Docker builds on Google Cloud Build.

The way the tool can work is to act as a wrapper around command `gcloud builds submit` and underlying `cloudbuild.yaml` file.
For each file a set of [substitutions](https://cloud.google.com/build/docs/configuring-builds/substitut

[2022-06-24 12:15] Ressetkk commented on #4935
Closing in favor of #5637

/close

[2022-06-24 12:15] #4935 closed

[2022-06-27 08:34] varbanv commented on #5487
We should move the logic from this test to another type of test.

[2022-06-27 08:34] varbanv commented on #5586
Will be handled in https://github.com/kyma-project/test-infra/issues/5487

[2022-06-27 08:54] varbanv commented on #5583
@ebensom could you check the test and remove if not necessary?

[2022-06-27 12:22] chrkl commented on #5487
Job has already been removed by https://github.com/kyma-project/test-infra/pull/5562

[2022-06-27 12:22] #5487 closed

[2022-07-04 08:40] khlifi411 opened #5668 "Failing pipeline skr-aws-upgrade-integration-dev"
**Description**

Job is failing since June 20: 100% failure rate
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/skr-aws-upgrade-integration-dev

**Expected result**

SKR cluster provisioning succeeds

**Actual result**

Pipeline failing during provisioning of SKR cluster:

[code]

**Related issue**
#5523

[2022-07-04 08:48] #5668 closed

[2022-07-05 07:55] kasiakepka commented on #5529
[post-main-k3d-k8s-preview](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-k3d-k8s-preview) should have been disabled, not removed.
I added it again in

[2022-07-05 10:27] kasiakepka opened #5674 "Enable html Lens"
Prow enhancement that allows to visualise test reports and other information via HTML.
AC:
- [x] enable Lens HTML https://github.com/kyma-project/test-infra/pull/5646/files
- [x] document how to use it (from developer perspective)

[2022-07-06 06:37] Halamix2 commented on #5674
The documentation is ready: https://github.com/kyma-project/test-infra/blob/main/docs/prow/prow-html-lens.md

[2022-07-06 07:44] #5674 closed

[2022-07-06 07:46] #5486 closed

[2022-07-06 08:12] cnvergence opened #5680 "Implement Helm validation as part of component tests"
**Description**

We should run `helm template` and `helm lint` on every PR to component charts to check for errors.

**Reasons**

To verify that the chart is well-formed.

[2022-07-07 07:40] kasiakepka commented on #5455
Releases are created by `github-actions` user,  it can have only `write` access. Creating tags that match a tag protection rule requires admin or maintainer role. Write access is probably not sufficient. According to the documentation `GitHub Apps require the Repository administration: write permission to modify a protected tag.` however it is something different than creating protected tag.

[2022-07-07 09:30] kasiakepka opened #5687 "Configure new Google Artifact Registry"
**Description**

**Reasons**

**Acceptance Criteria**

- [ ] Separate "production registry" from "development registry".
- [ ] Set two separate SA for those registries.
- [ ] Only Prow and Prow admins should have access to these SA credentials.
- [ ] For Presubmit jobs and test scenarios we use development registry.
- [ ] Access to the production registry is available only for Postubmit, release j

[2022-07-07 09:33] kasiakepka opened #5688 "Bumping images from "dev" to "prod""
**Description**
This issue is prerequisite for splitting registry.
Create clear and documented process for bumping images from dev registry to production registry.

**Reasons**

**Acceptance Criteria**

- [ ] Developers know how to promote images from dev to prod
- [ ]  All Postsubmits and release job must use production registry when building images and testing. There are no "PR images" on main.

[2022-07-08 09:14] #5687 closed

[2022-07-08 09:15] #5688 closed

[2022-07-08 14:11] Halamix2 opened #5691 "Automate secrets rotation for Gardener, KMS and GCP service accounts."
**Description**

Automate secrets rotation for Gardener, KMS and GCP service accounts.

**Reasons**

Fullfilment of corporate requirements for SLC-29.
Enabled Gardener rotation o keys. https://github.tools.sap/kubernetes-canary/issues-canary/issues/2198
Access to gardener is a main dependency for most of our tests running on Prow. We must have automated keys rotation to not stop development due to

[2022-07-08 14:38] Halamix2 opened #5692 "Update Python in kyma-integration image"
**Description**

**Reasons**

**Acceptance Criteria**

- [ ] Update Python from 2.7 to 3

[2022-07-11 10:25] kasiakepka commented on #5455
We have to run Github actions using custom user (like KymaBot). @Ressetkk , can you please take over and create necessary secrets?

[2022-07-12 08:19] kasiakepka opened #5702 "[k8s update] Testing (all prow jobs) is based on K8S 1.23"
Description
All major CI jobs should be based on k8s 1.23 as it is the supported version.

Related issue:
https://github.com/kyma-project/kyma/issues/14760

[2022-07-12 08:24] kasiakepka opened #5703 "[k8s update] Default version for kubectl is 1.23 (Prow)"
Related issue:
https://github.com/kyma-project/kyma/issues/14760

[2022-07-12 08:41] Halamix2 commented on #5691
We're unable to automatically rotate Gardener kubeconfigs, as there is no API for that

[2022-07-12 13:58] kasiakepka commented on #5493
https://github.tools.sap/kyma/test-infra/pull/80
https://github.tools.sap/kyma/test-infra/pull/79

[2022-07-12 13:58] dekiel opened #5707 "Unstale issues or PRs when activity happen on issue or PR."
**Description**
Stale bot should unstale issue or PR when any activity happen on it. At present all stale issues require manual removal of stale label.

Example comment on issue which didn't unstale it. https://github.com/kyma-project/kyma/issues/14147#issuecomment-1174482327

Stale bot documentation: https://github.com/kyma-project/community/pull/689/files#commit-suggestions

Example unstale by a

[2022-07-12 14:01] kasiakepka opened #5708 "New generation pipeline POC"
Imagine ideal pipeline based on Prow and try to implement it.
Focus on improving the weakest points like infrastructure provisionning, pipeline maintenance in time, remember that each team will have different requirements to the infrastructure and component versions (kubectl, kyma cli, k6, etc.).

Pipeline steps:
- provision test infrastructure
- install kyma (as an example)
- perform tests
- depr

[2022-07-15 10:04] kasiakepka commented on #5507
@pbochynski Do you want to remove post-rel**XX**-kyma-integration-k3d jobs in general?
If you want us to disable the specific post-rel**22**-kyma-integration-k3d job - it is done automatically.

[2022-07-15 11:25] kasiakepka commented on #5703
Google SDK was bumped to the newer version that provices kubectl 1.23.6, bootstrap images are bumped as well.

- https://github.com/kyma-project/test-infra/pull/5733
- https://github.com/kyma-project/test-infra/pull/5723

[2022-07-16 11:20] #5228 closed

[2022-07-18 12:46] dekiel opened #5745 "Golangci-lint linter only files changeed in PR."
**Description**

Golangcli-lint must allow to check files which were changed in PR.

**Reasons**

Developer doesn't want to fix other component code on it's PR when there was no changes in other component files.

**Acceptance Criteria**

- [ ] Tool is able to operate on files changed in PR only.
- [ ] Tool has flag to run against entire repository.

Parent: #4943

[2022-07-18 13:00] dekiel opened #5746 "Check if we need to use golint or other tools we have cover all of its use cases."
**Description**

Check existing before-commit.sh scripts for provided features.

**Reasons**

We need to understand what features must be provided by separate tools.

**Acceptance Criteria**

- [ ] Deliver complete list of features provided by before-commit.sh
- [ ] Mark feature for which we have a prowjob already.

Parent: Golint is deprecated #4943

[2022-07-18 13:37] dekiel opened #5747 "Find usage of all GCP service accounts."
**Description**

All GCP service accounts will be rotated by automated tool. After SA key rotation, it must be updated in locations where it's used.
A list of usage will be used to plan required tools implementations.

**Acceptance Criteria**

A full list of location where SA keys are used.

PArent: Automate secrets rotation for Gardener, KMS and GCP service accounts. #5691

[2022-07-18 13:44] dekiel opened #5748 "Create tool to rotate GCP service account keys."
**Description**

A tool must rotate all GCP service account keys. A tool must be aware of multiple active keys for one service account.

**Acceptance Criteria**

- [x] A tool can rotate multiple keys of one service account independent.
- [x] A tool must update usage locations with new version of key.
- [x] A tool must remove old version of keys.

**Parent**
Automate secrets rotation for Gardener,

[2022-07-18 13:53] dekiel opened #5749 "Update GCP service account key used in Gardener."
**Description**
GCP service account used by Gardener is added by Gardener GUI. This SA is added as secret in Gardener cluster and is used to create Gardener shoot clusters. We don't know if it's possible to update this secret using Gardener API.

**Acceptance Criteria**

- [ ] GCP service account used by Gardener is updated on each key rotation without human intervention.

Automate secrets rotatio

[2022-07-19 09:55] kasiakepka opened #5755 "Some jobs are failing on k8s 1.23"
**Description**
pre-main-control-plane-gke-integration and kyma-upgrade-gardener-kyma2-minor-versions are failing because some CRD are not available in "apiextensions.k8s.io/v1beta1".

`unable to recognize "/tmp/kcp-gke-integration/kyma-installer.yaml": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"`

[2022-07-19 09:59] kasiakepka commented on #5755
Piotr is implementing quick workaround for both pipelines however `pre-main-control-plane-gke-integration` should be fixed.
@ralikio Can you please pick up this issue when Piotr is done with workaround?

[2022-07-19 10:02] raypinto commented on #5755
The [1.23 release k3d pipeline ](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-rel23-kyma-integration-k3d) fails with invalid resources version as well!

[2022-07-19 11:04] a-thaler commented on #5755
In future we need to do the rollout differently. It is understandable that the 2.3 release pipeline will fail as we upgraded k8s for the newest kyma version only. Maybe we can at least work with two different env variables for the k8s version, one for main, one for releases. On k8s upgrade we increment the version for main, on kyma release we propagate the main version to the released version... N

[2022-07-19 12:46] kasiakepka commented on #5493
https://github.com/kyma-project/community/pull/698/files

[2022-07-19 13:11] kasiakepka commented on #5493
I can't find better place to put such information. It is quite rare scenario so I am worrying that no one will remember that such templates exist or came across the templates. I will talk about it briefly on next SIG

[2022-07-19 18:42] dekiel commented on #5637
I've added few points to the acceptance criteria list and want to give some more context about my understanding of this points.
- Is able to apply multiple tags for image.
A tool should allow to define multiple tags to apply to build image. A tag value can be passed as is or its value will be generated by the tool. Applying multiple tags to the same image must not require multiple builds of the im

[2022-07-20 08:35] kasiakepka commented on #5755
@ralikio Confirmed that they are working on fixing pipeline.

[2022-07-20 09:15] tillknuesting commented on #5582
resolved

[2022-07-20 09:15] #5582 closed

[2022-07-20 10:59] Ressetkk commented on #5707
Suggestion: migrate to GitHub actions stale https://github.com/actions/stale
Reason: Current implementation is not maintained anymore. https://github.com/probot/stale Last meaningful commits are from March 2021
* Removes the need to maintain and host our own app instance
* Uses actively maintained stale bot implementation
* Has much more configuration capabilities

[2022-07-20 11:19] kasiakepka commented on #5493
Discussion about this is planned for next Quality SIG

[2022-07-20 13:32] Ressetkk commented on #5637
@dekiel

1. Every developer can define their own image tags as entry in the `cloudbuild.yaml` file. They will need to add it in the `args` value as part of `docker build` command and in the `images` field to push it to registry. Refer more to the linked PR.
[code]
2. It's an optional so I won't be dwelling into that topic, as it's partially resolved by point 1. I can provide functionality that all

[2022-07-20 13:57] dekiel opened #5764 "[CI] Rendertemplate support inrepo prowjobs definition syntax."
**Description**

Presubmit and postsubmit definition files for inrepo config doesn't contain information for which repo a prowjob is defined. Rendertemplates must support this syntax for generating prowjobs.

**Reasons**

Rendertemplate must support generating  prowjob definitions for inrepo config. This is our standard approach for working with prowjobs.

**Acceptance Criteria**

- [ ] rendertemp

[2022-07-20 14:12] dekiel opened #5765 "[CI] Validation inrepo prowjob definitions against data files"
**Description**

When any prowjob definition change in test-infra we are running test to check if generating definitions from data files provide the same results. This check prevents placing changes directly in prowjob definitions, requiring placing changes in data files first. This same mechanism must be implemented for prowjob definition changes in inrepo config.

**Reasons**

Inrepo prowjob def

[2022-07-20 14:19] dekiel opened #5766 "Pjtester can run test for prowjob from inrepo config."
**Description**

 Pjtester is our main tool for running tests during development of prowjobs or code running by it. With inrepo config enabled pjtester must support running tests for prowjobs defined as inrepo config.

**Reasons**

Without possibility to tests prowjob at development time, usage of inrepo will be more difficult for developers.

**Acceptance Criteria**

- [ ] pjtester can run test f

[2022-07-22 06:43] Halamix2 commented on #5747
Usages of GCP service accounts:

* Prow + Grafana
* Gardener
* Jenkins
* Kyma tooling instance

[2022-07-22 08:59] #5747 closed

[2022-07-23 03:15] #4410 closed

[2022-07-25 08:39] kasiakepka opened #5782 "[DRAFT] Kubernetes upgrade process"
**Description**
Goal is to support Kyma with Kubernetes version `1.xx`. Most of our pipelines have to be updated to use the next upcoming Kubernetes version.

**Tasks**
- [ ] @zhoujing2022
    - [ ] Pre-notification for customers via [What's New]().
        This step must be done 4 weeks before Golive to PRD (Upgrade-Date on PRD: xxxxx )
- [ ] @kyma-project/jellyfish
     - [ ] Verify k8s `1.xx` s

[2022-07-25 10:12] kasiakepka opened #5783 "Failing post-main-kyma-integration-k3d-app-conn-validator and runtime-agent"
**Description**
Job is failing from its first execution:
- https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-kyma-integration-k3d-app-conn-validator?buildId=
- https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-kyma-integration-k3d-runtime-agent?buildId=1549018364934885376

**Expected result**
Fix or delete the job if not needed.

[2022-07-25 10:28] kasiakepka commented on #5783
@koala7659 @kyma-project/framefrog Can you please look at it?

[2022-07-25 11:07] koala7659 commented on #5783
This job is currently in the development. Should be ready and start passing soon.

[2022-07-25 11:20] kasiakepka opened #5784 "[CI] Prowjob code review"
**Description**
Currently we are reviewing each prowjob configuration change that is submitted to the repository.

**Proposal**
Let's reduce the necessity to review such PRs as developers are responsible for their prowjob. We should review only prowjob changes that are owned by us. All settings required by automation or security should be enforced by automated tests running on PRs.
Questions:
- Ca

[2022-07-25 13:17] Ressetkk commented on #5707
Our current stale bot is not maintained by the authors and we have to migrate from that ASAP and doesn't provide requested functionality.

Closing, as I don't think we can provide this function with current tooling.

/close

[2022-07-25 13:18] #5707 closed

[2022-07-25 13:27] Ressetkk opened #5786 "Migrate stale issues triaging to a new tooling"
/kind deprecation
/area ci
/area prow

Follow-up for #5707

Current stale-bot is not maintained for over a year by its authors. We should migrate that to something else that will give us the same functionality of current tooling.

**Acceptance criteria**:

- [ ] Configuration is centralized for all repos across all prow-enabled orgs
- [ ] Bot gives comprehensive comment about it's workings
- [ ] A

[2022-07-25 15:24] dekiel opened #5787 "Automatic remove label do-not-merge/work-in-progress only when [WIP] string removed from PR title."
**Description**

A label do-not-merge/work-in-progress is removed by bot only on event of removing string [WIP] from PR title. This label is added by bot when [WIP] string is present in PR title but it can be added manually by users. If label was added by user on PR without string [WIP] in title, removing label should be manual too. At present bot is removing this label as soon it will find PR wit

[2022-07-25 18:30] dekiel opened #5788 "How to add a new unit to security scans"
**Description**

As a Kyma developer I would like to know how I can add a respective unit to security scans to comply with security requirements. I would like to know what I can do myself and for which part I need to ask other team for help. I would like to know which team I need to ask for which part of configuration. I would like to have a step by step like instruction attached.

As a neighbours

[2022-07-25 18:33] dekiel commented on #5788
@aberezovski can we have such instructions before you leave or maybe they are already somewhere?

[2022-07-26 09:25] kasiakepka opened #5791 "Set owners rights on code repositories"
**Description**
Neighbors team is in a process of taking over ownership over security tooling. As a code owner we need owner rights on all code repositories.

**Task**
Please grant neighbors team owner rights on all security tooling repositories:
- https://github.tools.sap/kyma/security-scans
- https://github.wdf.sap.corp/ce-security-circle/sec_tools_client
- https://github.tools.sap/kyma/security

[2022-07-26 09:32] kasiakepka opened #5792 "Jenkins Secrets Backup"
**Description**
Currently Jenkins secrets backup is not accessible for neighbors team and backed-up in on private laptop.

**Task**
- Determine the storage for all Jenkins Secrets
- Migrate certificates
- Grant owners rights to neighbors
- Verify documentation (secrets have to be rotated during release)

[2022-07-26 10:36] adityabhatia opened #5793 "Prow merge for PRs doesn't work"
**Description**

kyma-bot was added to excludes to workaround some CLA signing issues. From this point on prow auto merge logic for PRs has not been working, making us manually merge PRs.

Could you please fix this?

https://github.com/kyma-project/kyma-operator/
https://github.com/kyma-project/manifest-operator/
https://github.com/kyma-project/kyma-watcher/

**Expected result**

Auto merge should

[2022-07-26 11:53] kasiakepka commented on #5782
Above issues description can be used as an issue template for the next Kubernetes upgrade. However there are couple things that should be taken care of in the future:
- Automatically detect new K8s version and setup "preview" job to test it.
- Automatically create issue in Kyma repository to report compatibility issues.

**Additional note:** Neighbors team is responsible only for maintaining and d

[2022-07-26 13:20] Ressetkk commented on #5793
Tide's default merge method is `merge` if you disable this method without updating tide's default merge method for your repository, it will not be able to merge the PRs. It's something that is not really visible and it's GitHub's inner workings that we cannot work too much.

If you want your repo to use default merge method as `squash`, you need to update the [prow/config.yaml](https://github.com/

[2022-07-26 14:47] dekiel commented on #5637
@Ressetkk
Ad. 3. Is DATE and shortSHA values delivered by the tool?
Ad. 5 and 6. A central source is a one place/source which is used for all executions of the tool. If we provide configuration with flags, then changing a configuration will require placing changes in all prowjobs using the tool. This is what I want to avoid. Lets use a `--dev-registry` as an example. If we are going to provide val

[2022-07-27 09:56] #5493 closed

[2022-07-27 09:57] kasiakepka commented on #5493
https://github.com/kyma-project/community/blob/main/docs/guidelines/repository-guidelines/01-new-repository-settings.md#custom-settings

[2022-07-27 09:57] dekiel commented on #5637
@Ressetkk There is one thing we missed in the discussion and possibly in a requirements. At present we use a makefiles to define build steps. We have a common makefile which can be taken as is or included in another makefile. Even when taken as is, only part of steps can be executed. With a new tool we can provide a common cloudbuild.yaml file however all steps will be executed. There is no way to

[2022-07-27 10:16] Ressetkk commented on #5637
@dekiel I would really go against that. Here's why:

* When I was designing the tool I wanted to deprecate the concept of common makefiles. It gave us pretty hard time in understanding what's going on when something breaks. I personally had to spend a lot of time decoupling the makefiles to fix one simple error and I didn't like it. With the approach as simple as possible there is only one place o

[2022-07-27 11:37] Halamix2 commented on #5788
Manual for Checkmarx is available here: https://wiki.wdf.sap.corp/wiki/display/kyma/Checkmarx+scanning+for+Kyma+source+code

[2022-07-27 20:48] dekiel commented on #5209
This is done.

[2022-07-27 20:48] #5209 closed

[2022-07-28 09:11] aberezovski commented on #5788
Thanks @Halamix2 for mentioning the Checkmarx onboarding guide.
I guess @dekiel was asking about having a centralised place (documentation) that describe the onboarding for all security scans required by SAP. Am I right Przemek?

[2022-07-28 09:18] Ressetkk commented on #4755
/remove-lifecycle stale
/lifecycle frozen

[2022-07-28 11:57] dekiel commented on #5788
Yes, my intention was to have easy to access and use documentation for all security tools we use now. If such documentation already exist but it's distributed in multiple places, the solutions might be to migrate them or simply aggregate all needed links in one place with some brief description what they contains. Number of tools, spaces locations etc. makes difficult for users to find documentati

[2022-07-30 03:28] #4805 closed

[2022-08-02 12:22] aberezovski commented on #5788
@dekiel @Halamix2 @Ressetkk
I prepared a [wiki page](https://wiki.one.int.sap/wiki/display/kyma/Kyma+Mandatory+Security+Testing+Tools) that reflects all the mandatory security testing tools which are must be used for Kyma.
Any feedback is welcomed

[2022-08-03 09:36] dekiel opened #5820 "Backlog review request"
Please review which issues are still valid from below repositories and transfer them to https://github.tools.sap/kyma/test-infra

- https://github.tools.sap/kyma/security-dashboard/issues
- https://github.tools.sap/kyma/security-scans-pipelines/issues
- https://github.wdf.sap.corp/ce-security-circle/sec_tools_client/issues

[2022-08-03 10:01] dekiel commented on #5820
We need to decide if we have time to move repository with code to tools.github instance. If we decide on that all issues should be transferred to the same repository where code will live.
We will make a decision under https://github.tools.sap/kyma/backlog/issues/2802

[2022-08-03 10:44] dekiel commented on #5786
@Ressetkk could you please explain in details what you mean with criteria : Doesn't require to host separate workload ?

[2022-08-03 10:48] Ressetkk commented on #5786
I meant the requirement that doesn't require to maintain and host a new environment where the application is working. Like, hosting a new deployment on K8s, or maintaining our own GitHub application.

[2022-08-03 10:53] dekiel commented on #5786
Right, why you didn't write directly that it must be the solution provided by Prow? As there is no other option.

[2022-08-03 11:00] Ressetkk commented on #5786
Updated.

[2022-08-03 11:02] dekiel commented on #5747
@Halamix2 do we have issue to cover SA keys rotation in all tools/places where we use them?

[2022-08-03 14:03] dekiel commented on #2538
Nota valid anymore.

[2022-08-03 14:03] #2538 closed

[2022-08-04 08:28] #5215 closed

[2022-08-04 08:30] dekiel commented on #5215
We are not going to maintain documentation about installation of Prow on forks.

[2022-08-04 08:53] dekiel opened #5827 "Remove documentation about installation of Prow on forks."
**Description**

Remove documentation about installation Prow on forks. We are not going to maintain this documentation anymore.

https://github.com/kyma-project/test-infra/blob/main/docs/prow/prow-installation-on-forks.md

[2022-08-04 09:53] halamix2 opened #5829 "Improve GCP cloud functions code organization"
**Description**

**Reasons**

Currently to deploy cloud functions we need to either call `go mod vendor` to be able to deploy a function, or split PR into two pars, separate for cloud function module and for the common test-infra module

Explore solutions
- [ ] All cloud functions are stored in one module
- [ ] Cloud functions module doesn't use relative imports in go.mod file
- [ ] store gcp func

[2022-08-04 10:59] Ressetkk opened #5831 "Add ownership annotation to current ProwJobs."
Parent #5585

With help of other teams we have to determine ownerships of all ProwJobs using annotation `prow.kyma-project.io/owner`, which describes the team responsible for specified ProwJob.

Checkconfig has the ability to make some annotations mandatory. We have to add it to the configuration and keep the job optional until all ProwJobs are annotated. Then we have to make the job required.

/a

[2022-08-04 11:00] #5831 closed

[2022-08-04 11:01] Ressetkk commented on #5585
With help of other teams we have to determine ownerships of all ProwJobs using annotation `prow.kyma-project.io/owner`, which describes the team responsible for specified ProwJob. We also can use annotation `description` which is used by the TestGrid to fulfill both requirements.

Checkconfig has the ability to make some annotations mandatory. We have to add it to the configuration and keep the jo

[2022-08-04 11:38] Ressetkk commented on #5585
One big task that we also have to address for implementing this https://github.com/kubernetes/test-infra/issues/27029

[2022-08-04 13:32] Halamix2 opened #5832 "POC: Integrate Jenkins with GCP secret manager"
**Description**

Jenkins use secret manager API to get secrets.

- [x] create tool that updates Jenkins secrets from GCP Secret Manager
- ~~[ ] Clean up old versions of secrets after rotation~~ Not in scope of POC.
    - ~~[ ] send notification about secret rotation to pubsub~~ Not in scope of POC.
    - ~~[ ] Create cloud function cleaner that intercepts the pubsub message~~ Not in scope of POC.

[2022-08-04 13:35] Halamix2 opened #5833 "Check if Jenkins API can rotate secrets"
**Description**

- Check if Jenkins API can rotate Jenkins secrets
- Check if we can update secrets from Jenkins pipeline

**Reasons**

We want to automatically update secrets in Jenkins form GCP Secret Manager.
Jenkins is not accessible from the outside, so the service inside our infrastructure needs to do the rotation

Issue estimated under #5832

 - Parent: #5832

[2022-08-04 14:39] Ressetkk opened #5834 "Evaluate Makefile steps regarding build infra"
If we want to build our images in remote infrastructure, Google Cloud Build using `gcbuild`, we have to investigate Makefile usage for steps `build-image`, `push-image`, `ci-pr`, `ci-release` `ci-main`. Additionally investigate usage of `build-generic.sh`.
We have to make sure if people use these targets in non-standard way and address all usages.

/area ci
/kind cleanup

Parent: Create tool that

[2022-08-04 14:49] Ressetkk opened #5835 "Prepare infrastructure and implement `gcbuild` for test-infra repository"
**Tasks**
* Prepare global config.yaml with static configuration of gcbuild, populate it on Prow, and add it to config-updater.
* Replace `build-generic.sh` based ProwJobs with new that use gcbuild for images in test-infra repository.
* Add presubmit ProwJob that runs `gcbuild-lint` on changes in the PR.
* Provide documentation about how to integrate gcbuild in the workflow
* Provide automated tes

[2022-08-04 14:49] Ressetkk commented on #5835
/area prow

[2022-08-05 11:26] Halamix2 commented on #5747
They should be linked in https://github.com/kyma-project/test-infra/issues/5691

[2022-08-05 12:11] kasiakepka commented on #5788
I've asked Alexandru to add information how to add new Whitesource Product and created this simple guide here: https://wiki.one.int.sap/wiki/display/kyma/Add+new+repositories+to+the+mandatory+scanners

[2022-08-08 09:02] kwiatekus opened #5844 "Installing kyma on GKE fails on the integration tests"
**Description**
Our jobs can't use the kubeconfig file to install kyma due to recent changes in GKE

**Actual result**

https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_kyma/15030/pre-main-kyma-gke-external-registry/1556536572688470016/build-log.txt
[code]

**Troubleshooting**

[kubectl-auth-changes-in-gke](https://cloud.google.com/blog/products/containers-kubernetes/kubectl

[2022-08-08 11:02] Ressetkk commented on #3960
/assign

[2022-08-08 17:38] dekiel commented on #3806
Requirements for notifications are not valid anymore.

[2022-08-08 17:38] #3806 closed

[2022-08-08 17:38] dekiel commented on #4215
Requirements for parent issue are not valid anymore.

[2022-08-08 17:38] #4215 closed

[2022-08-08 17:39] dekiel commented on #3817
Requirements for parent issue are not valid anymore.

[2022-08-08 17:39] #3817 closed

[2022-08-08 17:39] dekiel commented on #3449
Requirements for parent issue are not valid anymore.

[2022-08-08 17:39] #3449 closed

[2022-08-08 18:00] dekiel opened #5849 "[Security] Remove unused workloads on tooling kyma, cloud functions and pubsub."
**Description**

Some workloads which are running on tooling kyma, GCP cloud-functions and pubsub are leftovers from POC and test installation. We must remove them.
Following are helm deployments to remove from tooling kyma on statging and production clusters.
Namespace: slack-connector
- [x] `prowjob-failed-v1        	slack-connector	1       	2022-04-15 13:14:25.020834 +0200 CEST  	deployed	slack

[2022-08-08 18:04] dekiel commented on #3960
Following helm deployments will be removed from tooling kyma. Please do not sync their secrets:
- prowjob-failed-v1
- pullrequest-automerged-v1
- issuesevent-closed-v1
- prowjob-failed-v1
- pullrequest-automerged-v1

Please remember about both instances of kyma, staging and production.

[2022-08-09 10:01] Ressetkk opened #5853 "Migrate Prow clusters to GKE Workload Identity"
/area prow

We have to migrate Prow GKE cluster to GKE workload identity. This will remove the need to provide GCP SAs as secrets in cluster.

[2022-08-09 11:32] dekiel commented on #5782
About an issue template proposal.
- Neighbours team will not update all prowjobs to run on required k8s versions. It's up to the test owner to keep it up to date.

- Neighbours team is not an owner of this test. This task should be assigned to the team who owns that test.

- What does it mean exactly? There is no default kubectl version settings in Prow. We can update images maintained by Neighbou

[2022-08-09 12:37] dekiel commented on #3818
Requirements for parent issue are not valid anymore.

[2022-08-09 12:37] #3818 closed

[2022-08-09 12:37] dekiel commented on #3904
Requirements for parent issue are not valid anymore.

[2022-08-09 12:37] #3904 closed

[2022-08-09 12:38] dekiel commented on #3917
Requirements for parent issue are not valid anymore.

[2022-08-09 12:38] #3917 closed

[2022-08-09 12:38] dekiel commented on #3920
Requirements for parent issue are not valid anymore.

[2022-08-09 12:38] #3920 closed

[2022-08-09 13:41] dekiel commented on #3740
We have no capacity to work on this issue.

[2022-08-09 13:41] #3740 closed

[2022-08-09 13:45] dekiel commented on #4403
Requirements for notifications are not valid anymore.

[2022-08-09 13:45] #4403 closed

[2022-08-09 13:57] dekiel commented on #5210
This approach require use of Prow approval plugin which we doesn't use anymore.

[2022-08-09 14:02] dekiel commented on #5283
@kwiatekus can we move functions code back to test-infra repo?

[2022-08-09 14:06] dekiel commented on #5507
Jobs removed.

[2022-08-09 14:06] #5507 closed

[2022-08-09 20:42] dekiel commented on #5792
@kasiakepka
This secrets should be stored along with all other secrets we have.
Which certificates we need to migrate? What is a source and destination for this migration?
Who holds this secrets now and can provide us with it's values?

[2022-08-09 20:47] dekiel commented on #5283
@Halamix2 I've got confirmation we can move functions back.

[2022-08-10 08:53] #5844 closed

[2022-08-10 09:18] Halamix2 commented on #5283
That will require
* update in the test-infra to point to the test-infra again
* reprovisioning controller and all functions on two Kyma tooling (prod/dev) clusters
* removal of the separate functions repository

[2022-08-10 17:13] dekiel commented on #5637
Roll out of this tool will allow us to remove privileged containers usage in prowjobs. This is a requirement for https://github.tools.sap/kyma/test-infra/issues/63

[2022-08-11 08:06] halamix2 opened #5858 "[Security] Convert Gardener token rotation tool to a cloud run"
**Description**

- Convert Gardener token rotation tool added in #5725 to a cloud run

**Reasons**

- use Secret manager pubsub rotation messages as the rotation trigger
- make this rotation tool consistent with GCP SA rotation tool, which is also a cloud run

**Acceptance Criteria**

**Attachments**

- #5691

[2022-08-11 10:59] jakobmoellersap opened #5859 "POC: Create Image Build Pipelines in Prow that build Kyma-Operator / Manifest-Operator / Watcher Images"
To deploy our images and to distribute the operators we need an image build job that runs from main on any change. This Build Job should build the operators so that we can deploy them with our kustomization configuration.

AC:
- Create Image Pipelines that build the image
- Show successful builds of the image and use them to deploy into a test cluster

[2022-08-11 11:24] Halamix2 opened #5860 "Sync secret syncer credentials"
**Description**

Currently we don't update credentials used for external secret syncer through the external secret syncer

**Reasons**

We want to automatically rotate GCP service account keys, and we need to automatically sync the rotated versions on Prow clusters

**Acceptance Criteria**

- add `external-secrets` namespacce on (un)trusted clusters to monitored namespaces by the `kubernetes-exter

[2022-08-11 14:28] aberezovski commented on #5820
The Python script was. migrated to github.tools.sap server under Kyma organization https://github.tools.sap/kyma/sec-tools-client.
All relevant issues were transferred to new repo.

Only two issues from https://github.tools.sap/kyma/security-scans-pipelines/issues, have to be clarified

[2022-08-11 14:33] aberezovski commented on #5791
The Security Tool Client (implemented in Python) was moved from https://github.wdf.sap.corp/ce-security-circle/sec_tools_client to https://github.tools.sap/kyma/sec-tools-client.
Neighbours team was granted with Admin rights in new repository.
For all other repositories Neighbours team is also set with Admin permissions

[2022-08-11 14:42] aberezovski commented on #5792
All Jenkins pipelines which are used to integrate with recommended security scanners use the config files which are stored on [Jenkins side](https://kymasecurity.jaas-gcp.cloud.sap.corp/job/kyma-opensource/credentials/) as secret files.
All those config files contains credentials/tokens required to access the security tools as well as additional configuration required for each specific workflow.
A

[2022-08-12 13:12] Halamix2 opened #5867 "Evaluate using Cloud Run for functions"
**Description**

All (1st and 2nd gen) Cloud Functions require their code to be at the same level as go.mod file, meaning we have to create separate go.mod file for each function.

 2nd gen Cloud Functions:
    * require eventarc for Pub/Sub triggers
    * builds the image and deploys function as Cloud Run

We could use raw Cloud Run + eventarc events to be able to simply deploy Docker images read

[2022-08-12 13:20] Halamix2 opened #5868 "Add documentation for SA secret rotation"
**Description**

Add documentation how to add service account secrets in Secret Manager to automatic rotation

**Reasons**

**Acceptance Criteria**

**Attachments**

- #5748

[2022-08-12 13:24] halamix2 opened #5870 "Add alerting for failed SA rotation cloud run execution"
**Description**

Send alerts about failed service account cloud run execution.

**Acceptance Criteria**

- [x] Send a notification to the #kyma-neighbors channel.
- [x] Implement alerting for `signify-secret-rotator` and `service-account-keys-rotator`
- [x] Decide if use pub/sub subscription or Alerting (Observability Monitoring)

**Attachments**

- #5691

Justification for Technical Debt:
- Reaso

[2022-08-16 14:05] dekiel commented on #5834
Copy of my comment from https://github.com/kyma-project/test-infra/issues/5637.

If we learn that we don't need so much flexibility in defining build steps, we can provide an example cloudbuild.yaml file so developers can simply copy paste it and adjust to their use case.
At present we assume only image building steps in our cloudbuild.yaml. Maybe there are some common tasks we should provide with

[2022-08-16 14:08] dekiel commented on #5834
@Ressetkk do you have a proposal of example cloudbuild.yaml file so users can use it as reference?

[2022-08-16 16:50] dekiel commented on #3688
Requirements are not valid anymore.

[2022-08-16 16:50] #3688 closed

[2022-08-16 17:08] jakobmoellersap commented on #5834
For all operators, we make use of build-generic at the moment to connect it with the kubebuilder style of building images. For standalone builds, this is still something we want to support. Is it possible to still retain the build-generic.sh script even though we use cloudbuild?

[2022-08-17 05:57] jakobmoellersap commented on #5859
All pipelines present

[2022-08-17 05:58] jakobmoellersap commented on #5859
In discussion if we want to keep the image builds from PRs, this will need further input. We would have to switch from squash commits to merge commits in this case and there could be backlash on this. If we do not do this, we loose a linear history and will have to rebuild with a Post-Submit Action for Main.

For now, feel free to issue your own PR and use this as a base for your builds until this

[2022-08-17 07:15] Ressetkk commented on #5567
/remove-lifecycle rotten
/remove-lifecycle stale
/lifecycle frozen

[2022-08-17 07:34] Ressetkk commented on #5834
@dekiel it will be provided in the set-up docs.

@jakobmoellersap build-generic.sh only runs make target `ci-release` or `ci-pr` plus assumes build tag value. I'm certain you can easily run the same pipeline in the Google Cloud Build with our tool.
Changing build infrastructure will not affect the build itself. If the build tool can return reproducible images then pipeline will also do it. Logs wi

[2022-08-17 09:09] kasiakepka commented on #5820
Both issues are from @Halamix2, I believe they are still valid.

[2022-08-17 09:09] #5820 closed

[2022-08-17 09:10] #5791 closed

[2022-08-17 09:17] kasiakepka commented on #5792
@Halamix2 Let's keep all secrets in one place and add them to the secret manager.

[2022-08-17 14:15] dekiel commented on #5637
Let's stick with mounting GCP SA credentials as secrets. Switching to workload identity will be done later.

[2022-08-18 13:50] dekiel opened #5890 "Build kubectl from sources"
Current kubectl version is build on golang 1.18.3. This is the highest version of kubectl while golang vulnerabilities are fixed in 1.18.4. We can't even use kubectl version which was build on golang 1.18.3 because we use to old k8s version. Officially kubectl support one version k8s back. In our case it would be two versions back. For now only available solution is to build kubectl in version 1.2

[2022-08-18 14:19] dekiel opened #5891 "Prepare infrastructure and implement image-builder for kyma-project and kyma-incubator projects."
**Tasks**
- [x] Prepare global config.yaml with static configuration of gcbuild, populate it on Prow, and add it to config-updater.
- [ ] Replace `build-generic.sh` based ProwJobs with new that use image-builder.
- [x] Provide documentation about how to integrate image-builder in the workflow

**Acceptance Criteria**
- [ ] All images in test-infra repository are build using image-builder tool.
- [

[2022-08-19 11:17] jakobmoellersap commented on #5834
My point is that in open-source people cannot simply checkout the repo and build it generically without using the cloud build right?

If we want reproducible images then we will have to put the pipeline into the repo and then call that with google cloud build no?

Anyhow if you can ensure reproducible images and easy to reproduce pipelines that you can run without relying on any pipeline of the Ky

[2022-08-19 12:06] Ressetkk commented on #5834
Fair point. I expect that we'd be using cloudbuild as an extension to get rid of privileged containers from Prow. We'd be running only `docker build` configured in a cloudbuild. If you stick to that, and you do not add any other crucial steps, image build will be the same as usual docker build.

At first I wanted to introduce different approach for building go images with `ko` and use cloudbuild o

[2022-08-19 13:00] dekiel commented on #5637
I've promised @jakobmoellersap to test and confirm we have reproducible builds for local and CI builds. Once we will have some images build on test-infra with gcbuild tool on CI lets sync with Jakob and confirm we meet requirements.

I've added task to the list on this issue.
Jakob comment about building equal images https://github.com/kyma-project/test-infra/issues/5834#issuecomment-1216916769

[2022-08-19 13:46] mfaizanse commented on #5220
We can start with cronjobs, to have atleast some automatic cleanup. Later we can make it react to events or after every job run.

[2022-08-22 09:19] kasiakepka commented on #5788
<details>
  <summary>Please follow ⛔**Release blocker** guidelines</summary>

**Assignment:**
•	 Release blockers can't be left unassigned.
•	 When it is unclear who should be assigned, contact Release Managers or Scrum Masters on #kyma-skr-release.

**Investigation:**
•	Split the release blocker into smaller issues if it concerns more teams or more than one bug or error type appears.
•	If the mos

[2022-08-22 09:29] Ressetkk commented on #5442
@clebs any news on this issue? I see that issue on the CLI repo has no updates...
/remove-lifecycle stale

[2022-08-22 09:39] Ressetkk opened #5900 "Set up helm charts to manage workload secrets as ExternalSecret"
Tooling Kyma contains workloads that are deployed from helm charts that are on this repo. Since recently we've enabled external secrets operator on this cluster, we have to add management of workload secrets as ExternalSecret definition.

We should support both configurations, where we provide secret as-is and use ExternalSecret if defined.

/area ci
/kind feature

[2022-08-22 09:54] dekiel commented on #5900
@Ressetkk what is use case for support secrets as-is? Why we can't stick to ExternalSecrets only?

[2022-08-22 09:56] Ressetkk commented on #5900
@dekiel to not break the current configuration. Just for backwards compatibility.

[2022-08-22 10:26] kasiakepka commented on #5890
Kubectl was already bumped https://github.com/kyma-project/third-party-images/pull/256

[2022-08-22 11:00] #5890 closed

[2022-08-22 11:07] jakobmoellersap commented on #5859
Closing this ticket now with decision to go with post-submits

[2022-08-22 11:07] #5859 closed

[2022-08-22 11:41] Ressetkk commented on #5835
/assign

[2022-08-22 14:22] dekiel commented on #5900
This is a continuation after https://github.com/kyma-project/test-infra/issues/3960

[2022-08-23 08:59] koala7659 opened #5906 "Make application-connector tests to be triggered after changes in Kyma Istio configuration"
**Description:**

We noticed recently that after merging Kyma [PR-15139](https://github.com/kyma-project/kyma/pull/15139)  some `application-connector` test pipelines have started to fail. The merged PR was Istio fix about Disabling sidecar injection for customer workloads application. This change affected tests functionality and required us to update the configuration of application gateway tests

[2022-08-23 14:03] kasiakepka opened #5912 "Release-blockers improvements"

[2022-08-23 14:09] kasiakepka commented on #5912
---

**This issue was marked as ⛔ `release-blocker`**
Explain clearly why this is a release blocker (what/who/how is impacted):  .....

<details>
<summary style="font-size:14px">Please follow below guidelines</summary>
<p>

Assignment:

- Release blockers can't be left unassigned.
- If during SOS or a PO call the SMs or POs discover that it is unclear who should be assigned, they should contact Sc

[2022-08-30 08:54] clebs commented on #5442
Hi @Ressetkk,

unfortunately I haven't had time to look into this. There is no straightforward fix for this issue and it requires investigation around the coreDNS patching currently implemented.

We are aware that it causes flakiness on the pipelines and we will try to move it up as soon as possible.

[2022-08-30 13:49] dekiel commented on #5471
Closing it as there is no view on possibility to work on that topic in predictable future.

[2022-08-30 13:49] #5471 closed

[2022-08-31 09:45] jakobmoellersap commented on #5637
I want to throw in here that there are also existing toolings available that we could integrate later on, such as https://slsa.dev/ that take care of build integrity checks. Maybe worth taking a look and evaluating if we just generate build verification data early on.

[2022-08-31 09:51] jakobmoellerdev opened #5944 "[CI] Enable Easy Caching of Go Cache and Lint Caches"
**Description**

We have some build and lint jobs that we would like to cache build data for similar to how Github Actions work. See https://github.com/actions/cache

**Reasons**

his would decrease some of our job times by more than 80% for regular go builds and lint runs, significantly reducing minimum PR Time-To-Merge and increasing reactivity and Developer Response Time to Build Failures.

See

[2022-08-31 10:45] kasiakepka commented on #5912
Final documentation: https://wiki.one.int.sap/wiki/display/kyma/Release+Blockers

[2022-08-31 10:45] #5912 closed

[2022-08-31 12:12] dekiel commented on #5944
We work on changes in how we build container images. At present we experiment with GCB and Kaniko based solutions. Both allow us to use caching by storing cached layers in separate dedicated OCI repository. See #5637 and #5943 .

Example of caching for go modules shared by @pbochynski https://github.com/pbochynski/kymactl/blob/82b3e0f817c07392b754ceea3aa819a359009110/.github/workflows/k3s-test.yml

[2022-09-01 07:52] Ressetkk commented on #5944
For caching go modules I was researching on managing it using attached persistent storage, or adapting go proxy which could reduce the time for dependencies to fetch. From what I remember when we evaluated go proxy we didn't see much gain from it. We need more time to experiment on that topic.

[2022-09-01 08:52] PK85 commented on #5581
@janmedrek question to you, do you support that commerceMock? cause it's failing and all other skr pipelines do not test commerce mock. What do we do with that skr-azure-nightly plan?

[2022-09-01 09:12] Sawthis opened #5951 "Generate change log and release notes from the code"
**Description**

We should generate change log for every production deployment based on the main branch commits. If labels are required for it, we should not be allowed to merge PR when the label is not set.
Example of ideal release notes: https://cloud.google.com/release-notes#July_27_2022

**Reasons**

Each deployment for production in the CD/MD approach should have change log/ release notes pro

[2022-09-01 09:16] Sawthis commented on #5951
Similar issue: https://github.com/kyma-project/test-infra/issues/4312

[2022-09-01 09:38] Sawthis commented on #5951
Example production deployment in the Kyma Dashboard: https://github.tools.sap/kyma/busola-deploy/commit/9ce6666d575abb2e07e24efa165666f1bc60168d
Pull request: https://github.tools.sap/kyma/busola-deploy/pull/146 should have link to the MD issue: https://github.tools.sap/kyma/backlog/issues/2825.
And MD issue should have change log/ release notes included.

[2022-09-02 10:10] strekm opened #5954 "Update Istio images to 1.15.x"
**Description**

Expose Istio 1.15.x istio distroless images available in kyma repo.

**Reasons**

Keeping Istio up to date

**Acceptance Criteria**

- [x] Istio images updated to version 1.15.x in image-syncer
- [x] Istio images in version 1.15.x available in kyma repo

**Attachments**
part of: https://github.com/kyma-project/kyma/issues/15347

[2022-09-06 11:28] dekiel commented on #5246
@Ressetkk does kaniko or gcb based building soultion solve this issue?

[2022-09-06 11:32] Ressetkk commented on #5246
Not quite. Though kaniko should support building images for different architectures, I haven't  research on that topic yet.
We can work on that in the follow-ups

[2022-09-06 11:34] dekiel commented on #5207
Neighbours doesn't have capacity to work on that. No progress since March from author.

[2022-09-06 11:34] #5207 closed

[2022-09-06 11:36] dekiel commented on #5246
@Ressetkk Please take care of stale label otherwise, close the issue.

[2022-09-06 11:55] Ressetkk commented on #5246
/remove-lifecycle stale
/lifecycle frozen

[2022-09-07 07:51] halamix2 opened #5968 "Automate old releases cleanup"
**Description**

After the list of images in `templates/config.yaml` is changed, we need to manually remove unuspported versions from `prow/jobs/kyma/releases/`

- Create cleaner that automatically removes unsupported versions from the directory.
- check if this can be implemented as git commit hook or poststubmit that creates new PRs
- add job checking if the files are removed

**Acceptance Crite

[2022-09-07 11:11] Ressetkk opened #5975 "[CI] image-builder: building variants.yaml doesn't work"
During my experiments with image-builder I have experienced a medium problem that affects the functionality of the application.
When I try to build the image that uses `variants.yaml` to build multiple versions of the same image, I encounter the problem, where builder thinks that some package configurations are already installed, which breaks `dpkg --configure` command in next runs of the build in

[2022-09-08 08:18] kasiakepka opened #5990 "Branchprotector is failing"
https://status.build.kyma-project.io/view/gs/kyma-prow-logs/logs/ci-prow-branchprotector/1567768315324010496

[2022-09-08 08:20] #5990 closed

[2022-09-08 08:20] Ressetkk commented on #5990
/unassign
/assign Halamix2

[2022-09-08 09:52] #3624 closed

[2022-09-08 09:53] dekiel commented on #3895
Parent issue is not valid anymore.

[2022-09-08 09:53] #3895 closed

[2022-09-08 10:38] Ressetkk commented on #5834
/assign

[2022-09-08 12:10] dekiel opened #5991 "Enable pjtester to change prowjob definition based on pjtester configuration file."
**Description**

Present, pjtester loads prowjob definition from file stored in github.com or provided within a pull request. Prowjobs names to load are provided in pjtester configuration file in pull request. It might be useful to extend possibility to change prowjob definition directly from pjtester configuration file. Currently it's possible to define pull request number to use as prowjob refs

[2022-09-08 12:33] Ressetkk commented on #5991
I don't see the need to have this feature in pjtester. If someone wants to check the different image or add some additional environment variables, they can edit the prowjob's definition and run the job.

[2022-09-08 13:53] kasiakepka opened #5992 "test"
**Description**

**Expected result**

**Actual result**

**Steps to reproduce**

**Troubleshooting**

[2022-09-08 14:30] tobiscr opened #5993 "Enable quality gates for reconciler E2E tests in control-plane (+ align config-values handling)"
**Description**

Currently are three important E2E tests optional quality gate when merging a PR to the control-plane repository.

Reason why there were disabled, is their instability / flakiness: teams which were just updating a value in the values.yaml (even if the modified value has no relation to the reconciler), were blocked in merging their change because these E2E tests never got green.

To

[2022-09-13 07:45] Sawthis commented on #4312
We should focus on generating changelog for micro-deliveres when deployment is made on production: https://github.com/kyma-project/test-infra/issues/5951 . It can be connected with https://github.tools.sap/kyma/backlog/issues/1533#issuecomment-1163466 and: https://github.tools.sap/kyma/backlog/issues/2816

[2022-09-14 10:27] Ressetkk opened #6011 "proposal: image-builder runs build jobs as k8s Job resources"
/kind feature

Kaniko is a great solution for building Docker images without the need of running containers in privileged mode.
We've built our in-house solution that wraps kaniko/executor image and adds our own custom settings like automatic tag assumption, build arguments, layer caching and pushing to multiple registries based on the ProwJob information.

The current limitation of image-builder

[2022-09-14 11:57] Halamix2 commented on #5792
All Jenkins secret now have backup in Secret Manager, with label `jenkins:true`

[2022-09-14 12:06] Halamix2 commented on #5792
Documentation about secret updates on each new Kyma release is stored here: https://wiki.one.int.sap/wiki/display/kyma/Switch+supported+Kyma+releases

[2022-09-14 12:06] #5792 closed

[2022-09-15 12:07] werdes72 commented on #5954
Images available:
https://console.cloud.google.com/gcr/images/kyma-project/eu/external%2Fistio%2Fproxyv2@sha256:b5928725ba9de1a2f8e374f5267afd123a46d7f89bf455f49e3a8e1f74b80978/details?tab=vulnz

[2022-09-16 11:41] koala7659 commented on #5906
Closing as the fix is already merged

[2022-09-16 11:41] #5906 closed

[2022-09-16 11:52] werdes72 opened #6028 "Use go 1.19 in some pipelines"
**Description**

Istio 1.15 requires go in version 1.19 to work, pipelines are still using go 1.18 so reconciler with latest istio cannot be built.

**Reasons**

We need to bump istio version.

**Acceptance Criteria**

- [ ] Job `pre-latest-istio-reconciler-integration` and `pre-main-istio-reconciler-integration` passes with istioctl in version 1.15.

**Attachments**

See: https://github.com/kyma-

[2022-09-20 07:12] Sawthis commented on #5427
@dekiel I think it should be closed as we will have different requirements for micro deliveries approach.

[2022-09-20 07:23] Halamix2 commented on #6028
All pipelines should now use Go 1.19

[2022-09-20 07:23] #6028 closed

[2022-09-20 07:28] #5702 closed

[2022-09-20 07:28] #5703 closed

[2022-09-20 07:56] dekiel commented on #5991
If you start pjtester from repository which is different than the one which holds prowjob definition without this feature you would need to open another PR and reference this PR in pjtester.yaml file. This feature will support such scenario without need for separate PR. Apart from that, possibility to change environment variables or image directly from pjtester.yaml file would be useful for troubl

[2022-09-20 08:29] Ressetkk commented on #5745
When Prow runs the tests on PRs it performs a rebase of the changes against latest revision of main branch AFAIK. Additionally Prow provides variable `PULL_BASE_SHA` which points the SHA of a latest revision from a branch PR is opened.
You can get all changed files between latest PR changes and branch you merge into by using command
[code]
With `golangci-lint` this should work with the following c

[2022-09-20 08:32] jeremyharisch opened #6038 "Reconciler image cannot be pulled"
**Description**
The following pipleines are failing, since they are not able to pull the Reconciler image:
- pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener [logs](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener)
- pre-main-control-plane-reconciler-e2e-latest-release

[2022-09-20 08:37] Ressetkk commented on #5746
Pat of this issue has been addressed already in #5834

Commands used in before-commit.sh:
* go test
* goimports
* go vet
* go mod download
* go mod verify
* golint

copy-paste from #5834

go mod verify provides the check for the dependency if the downloaded dependencies match the go.sum entries. Since we use official GOPROXY, which handles such validations we don't really need to take care of down

[2022-09-20 09:59] dekiel commented on #6011
Instead of watching k8s Jobs by kaniko-build, this Jobs could register itself as a contexts on a PR or commit. This will make kaniko-build simpler and following build statuses easier. Jobs will be decoupled from each other. On other side a developers would need to know they need to check a build result in different context, however we could communicate this clearly in kaniko-build output. I'm not

[2022-09-20 10:18] dekiel commented on #5993
`values.yaml` file is used as a source of images to scan by protecode. Support for splited `values.yaml` must be ensured in scaning tools.
There is no flaky test retry feature in Prow. We would have to implement something providing this feature.

[2022-09-20 10:23] Ressetkk commented on #6011
I wanted to build it independently from Prow. I meant `Job` default resource, rather than ProwJob. kaniko-build tool, which I'll call `scheduler` from now on, was meant to run in a ProwJob. I didn't think about creating more advanced frontend and GitHub integration for that. Simply put, I want to utilize K8s cluster, so we use kaniko as supported, we have concurrent builds, and we have more room t

[2022-09-20 10:34] dekiel commented on #6011
I didn't mean to run it as a GitHub app. You can keep a `scheduler` as ProwJob and use k8s Jobs as `builders` to do the real build. But instead watch `builders` results in `scheduler`, each `builder` can update it's own separate status on GitHub. The same way as regular Prowjobs. The `scheduler` will finish it's job when all `builders` will be scheduled. I think it's possible to create context for

[2022-09-20 10:42] Ressetkk commented on #6011
Maybe, but there are several problems:
* No access to the logs of each build, as they are not hosted anywhere from builders
* Builders are meant to run with official kaniko/executor image so we use supported approach

Of course it's doable. For example prepare sidecar image that takes care of such reporting, but as I said, I would like to keep it simple for now - we have similar functionality as i

[2022-09-22 09:03] dekiel opened #6050 "Make protecode scan optional on PR in non release processes."
Protecode scan doesn't detect only vulnerabilities introduced by changes in PR, but report all vulnerabilities, new and already known for the image. Because this prevents PRs from merging we decided to make the job optional. If the job is used as security gateway in release process it should stay as required in release process.

[2022-09-22 09:14] dekiel commented on #6050
Comment from @arturskorupa

[2022-09-22 12:51] Ressetkk opened #6057 "image-builder: sign images with signify"
As it's a requirement for SLC-29 we have to implement image signing using signify in image-builder.

The tool should get *all* image tags that have been built in `postsubmit` mode, make specific request to signify, and return specific information about that.

/area ci
/kind feature

[2022-09-23 06:47] jeremyharisch opened #6061 "` nightly-main-reconciler-e2e` - RECONCILE_STATUS_URL is invalid"
**Description**
The pipeline ` nightly-main-reconciler-e2e` failes due to the issue that the environment variable `RECONCILE_STATUS_URL` is empty:

[code]

Please check the [logs](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/nightly-main-reconciler-e2e) of the pipeline.

**Expected result**
`RECONCILE_STATUS_URL` should not be empty and request should be send successfull

[2022-09-23 08:20] Ressetkk opened #6062 "[CI] image-builder: customized builds of multiple images in one job"
/kind feature
/area ci

This feature came up into my mind as I looked at Kyma components. One of the components, function-runtimes, contains Dockerfiles that are built in single makefile step. With current approach kaniko-build can't guarantee that all images will be built using single job. You have to have each runtime defined as separate job. This seems very inconvenient.

So, in my opinion imag

[2022-09-26 07:53] jeremyharisch commented on #6061
not appearing anymore

[2022-09-26 07:53] #6061 closed

[2022-09-26 12:47] #5407 closed

[2022-09-26 14:55] Ressetkk commented on #6057
This feature seems to be pretty straightforward. We have access to the signify through an URL. The signing is performed by making a `POST` request to the `/sign` endpoint of signing service. The request body should contain the following array:
[code]
As far as I understand the signing of multiple tags is performed by adding another JSON Object with different `version` to the array. We get the info

[2022-09-26 15:02] dekiel commented on #5455
We made a decision to not invest more in old release process. At present we don't see need to use tags in modular Kyma.

[2022-09-26 15:02] #5455 closed

[2022-09-26 15:18] dekiel commented on #4312
Closing in favor of #5951.

[2022-09-26 15:18] #4312 closed

[2022-09-26 16:35] dekiel commented on #4799
We decide to not invest in improvements of current Kyma release process.

[2022-09-26 16:35] #4799 closed

[2022-09-26 16:35] dekiel commented on #5427
We decide to not invest in improvements of current Kyma release process.

[2022-09-26 16:35] #5427 closed

[2022-09-26 22:51] Ressetkk opened #6075 "Update Prow GKE clusters to latest supported k8s version"
1.21 is reaching eol in 31.01.2023. We have to upgrade those clusters to latest supported version on regular channel

https://cloud.google.com/kubernetes-engine/docs/release-schedule

[2022-09-27 03:42] #5527 closed

[2022-09-27 07:28] Ressetkk opened #6077 "kaniko-build: provide multi-arch builds"
@kyma-project/cmp has a hard requirement for building multi-arch builds for local development. Kaniko doesn't support building multi-arch builds, because it is working inside a container, so the architecture is assumed based on the system container is running on. We have to find a way to provide building multi-arch builds in our CI.

~~One of the ideas is to adopt latest version of `img`, as it wo

[2022-09-27 12:44] Halamix2 commented on #6077
As a drop-in replacement it should be easy to implement

For img and kaniko integration we could check if the target arch is different than native one and run either kaniko or img based on that, not reducing speed of native builds

[2022-09-27 16:47] Ressetkk commented on #6077
I managed to reproduce the build with rootless container, but I'm still struggling with achieving multi-platform builds. There is still more on-going work to do.

[2022-09-27 21:41] dekiel commented on #6050
@kasiakepka moved issue back to In Progress. I believe the status was not changed after reopen. Do we know answer already?

[2022-09-27 21:50] dekiel commented on #5834
@Ressetkk should this issue be closed or moved back to different status? Did you finish evaluating requirements and non standard usages?

[2022-09-27 21:51] dekiel commented on #5835
@Ressetkk should this issue be closed? At present we are not going to implement gcbuild tool.

[2022-09-27 22:04] dekiel commented on #5891
At present we work on using kaniko instead gcbuild as a container image building tool.

[2022-09-27 22:17] dekiel commented on #5637
@Ressetkk do we still need this issue? Do we have some Epic to represent `kaniko-build` implementation?

[2022-09-27 22:35] dekiel commented on #3916
We have no capacity to evaluate limitation applied by autopilot mode.

[2022-09-27 22:35] #3916 closed

[2022-09-28 07:30] Sawthis commented on #5951
I think it's worth to wait a little before start of implementing this task. We will design the processes and MD flow in upcoming days.
Issue for governance checklist: https://github.com/kyma-project/kyma/issues/15436
Release strategy for modular Kyma: https://github.com/kyma-project/kyma/issues/15431

[2022-09-28 08:19] Ressetkk commented on #5835
kaniko-build got used instead

/close

[2022-09-28 08:19] #5835 closed

[2022-09-28 08:20] Ressetkk commented on #5834
for build pipelines there are no non-standard usage. All build pipelines use the same make step, which is covered by `build-generic.sh`
Evaluation is done.

/close

[2022-09-28 08:20] #5834 closed

[2022-09-28 11:26] franpog859 commented on #5783
The Application Connectivity Validator job is up and running. The Compass Runtime Agent one is still under development. It should be passing soon. You can track the progress [here](https://github.com/kyma-project/kyma/issues/15037)

[2022-09-28 11:27] dekiel commented on #6077
Requirements and acceptance criteria for this solution are the same as earlier for gcbuild or kaniko.
What I understand from discussion is that our tool kaniko-build will call buildkit binary instead kaniko binary within a docker container. If that is the case then we should meet all requirements we defined earlier.
We should change a name of a tool from kaniko-build to something generic, because

[2022-09-28 11:28] dekiel commented on #6077
Please link this issue to the parent one which contain all steps and represent the overall implementation status.

[2022-09-28 16:20] #5496 closed

[2022-09-29 08:00] #5954 closed

[2022-09-29 08:11] kasiakepka commented on #6050
The job is used only to perform scans on PRs, it is not involved in release process.

[2022-09-29 08:11] #6050 closed

[2022-09-29 09:26] #6077 closed

[2022-09-29 11:14] Halamix2 opened #6095 "Deprecate CNUIDE"
**Description**

Some of the dependencies that could be updated by dependabot require logr in version 1.2.3, which is incompatible with version 0.4.0

**Reasons**

**Acceptance Criteria**

- update go files to be compatible with logr 1.2.3

**Attachments**

- https://github.com/kyma-project/test-infra/pull/6067
- https://github.com/kyma-project/test-infra/pull/5994

[2022-09-29 11:16] Ressetkk commented on #5637
/close

[2022-09-29 11:16] #5637 closed

[2022-09-29 17:28] dekiel opened #6099 "Update pjtester documentation"
Update of pjtester documentation to reflect recent changes in the tool. See #5766 for changes details.

Parent #5766

[2022-09-30 07:48] Ressetkk commented on #3497
wtieend ProwJob spec has only marginal changes for git configuration. There is no real need to check generated jobs at all. Running tests against YAML definition should be enough.

/close

[2022-09-30 07:48] #3497 closed

[2022-10-03 07:44] Ressetkk commented on #5786
Please let's work on that issue ASAP
/remove-lifecycle stale

[2022-10-03 16:02] dekiel opened #6104 "[CI] Add missing tests for pjtester."
**Description**

Pjtester recently got new features. Scenarios introduced by new features are not covered by tests.

**Acceptance Criteria**

Following scenarios are tested.
- [ ] "test prowjob definition is in test-infra", "pjtester pull request is in test-infra ", "with provided pull request with test prowjob definition", "with defined test prowjob pull requests"
- [ ] "test prowjob definition i

[2022-10-03 18:51] dekiel opened #6106 "Add status-reconciler Prow component."
**Description**

When new required prowjob is added to the Prow configuration, it's context with failed status is added to all current open PRs in the same repo as prowjob. Prow has now a component which clears such false failures. This behaviour cause developers confusion and we are getting requests for help. Installing this component will not require much work and maintenance. It will increase q

[2022-10-04 06:36] Ressetkk commented on #6106
This component is already deployed...

[2022-10-04 07:00] #6106 closed

[2022-10-04 09:38] dekiel commented on #6057
In case a signing of image failed will we remove the image from registry? If we don't remove the image then all usage of it must validate signature. The behaviour of image-builder must be documented.

At present such usage would be a release. I don't know any other usage for now.

[2022-10-04 10:30] Ressetkk commented on #6057
On-cluster image validation would be required. If image doesn't have the signature, simply, the verification will fail. Such edge-cases should be caught with provisioning tests. No need to handle it during signing.

For signing I see no problem with implementing sign retry in case of failure.

[2022-10-04 10:55] tobiscr opened #6109 "Detect deprecated resources and track them in Github issue"
**Description**

Caused by regular Kubernetes upgrades, particular resources are getting deprecated over time by the K8s community (e.g. [PodSecurityPolicy](https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp/)). After a deprecation period, the support of deprecated resources ends. Charts which are still using such resources are no longer accepted by Kubernetes and can lead t

[2022-10-04 13:58] Halamix2 commented on #5749
- [x] Create the tool
- [ ] deploy it as a cloud run image triggered by Secret Manager pubsub rotation message
- [ ] add documentation

[2022-10-04 17:27] dekiel commented on #2633
Automerge bot and dependabot are updating Dockerfiles and prowjobs with newest image versions.

[2022-10-04 17:27] #2633 closed

[2022-10-04 17:30] dekiel commented on #4786
The solution was using prow approval flow and depend on changes required by it. Because we reverted from using prow approval flow the implementation must be aligned to current environment setup.

[2022-10-04 19:48] dekiel opened #6113 "Auto updated documentation index page."
**Description**

As a user of tools and solutions from test-infra repository I would like to have a convenient access to all docs in test-infra. Because the .md files are located in multiple directories and on different nesting level in a directory tree it's sometimes hard to find needed information. I would like to have a one page with index of all .md files in a repository together with some sho

[2022-10-05 07:58] KacperMalachowski commented on #6095
We decided to remove CNUIDE from our project as it's causing problems with newest logr library

[2022-10-05 08:43] dekiel commented on #6057
We should add some retry logic for signing for sure.

Agree, for the scenario of deploying image on cluster validation is required and as far I know that's the next step.

I was rather thinking about other usages of this image. Something like releasing image or promoting it to the first release channel. If the process of releasing will be independent from image building it must validate the signat

[2022-10-05 11:37] #6095 closed

[2022-10-06 08:14] adityabhatia opened #6129 "Tracing tests failing: Cannot get jaeger trace"
**Description**

Tracing tests are failing in 2 pipelines:

https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-upgrade-k3d-kyma2-to-main
https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/kyma-upgrade-gardener-kyma2-to-main-reconciler-main

**Expected result**
Traces tests should not fail

**Actual result**
Tracing tests are failing

**Steps to reprod

[2022-10-06 09:08] Ressetkk opened #6130 "image-builder: remove `--directory` flag"
/area ci
/kind deprecation

This flag was introduced initially to provide the ability to define subdirectory to where the image should be saved in a registry.
The logic for the URL path of the image goes as follows:
[code]

This introduces overhead and requirement to know the inner workings of the program or more sophisticated documentation.

If I omit the directory flag I can achieve the same fun

[2022-10-06 10:05] pPrecel opened #6132 "Use stable version of `KymaCLI` in context of the `kyma-gke-external-registry` pipeline"
**Description**

Revert changes proposed in [this PR](https://github.com/kyma-project/test-infra/pull/6131) after the new `KymaCLI` release.

**Reasons**

The new `KymaCLI` release would contain changes proposed [here](https://github.com/kyma-project/cli/pull/1398) that fix the issue with the kyma installation on the GKE clusters. We should use a stable version instead of an unstable one.

[2022-10-06 10:08] dbadura opened #6133 "[CI] Release branch should have the same jobs as main branch"
**Description**
In my opinion release branch is another type of main branch.
That's why all jobs which are executed on main branch, should be executed on release branch

**Reasons**
Sometimes we need to cherry-pick bug fixes and etc, to be sure that backport didn't break anything, the prow should run all needed tests which are run on main.

**Acceptance Criteria**

**Attachments**

[2022-10-06 11:30] dekiel opened #6134 "Create POC using tekton-pipeline as prowjob agent [part 1]."
**Description**

There is more and more demand for workflow like prowjobs. We see such requirements coming from developers and from kyma modularisation project. Prow has support for using a tekton pipeline as agent executing prowjob logic. However this feature is not documented. We need to research how difficult would be to setup tekton based prowjobs.

Tekton itself is a native k8s CI/CD tool. It

[2022-10-07 09:20] dekiel commented on #5746
@Ressetkk why using official GOPROXY invalidates need to use go mod verify? What you mean as GOPROXY? It's a official URL where goproxy http server is running?
What about go vet? Does golang-lint takes care that too?

[2022-10-07 09:23] dekiel commented on #5832
@Halamix2 can we use some plugin to get secrets from secret manager to our Jenkins? Example: https://plugins.jenkins.io/gcp-secrets-manager-credentials-provider/

[2022-10-07 09:30] dekiel commented on #5708
We could allow Prow to run a tekton pipelines as prowjobs. Using a pipeline pattern will allow us split prowjob in to smaller steps. This will make easier sharing steps and maintaining them by different teams. Pieplines provide features of defining dependency between steps, parallel steps execution and conditional execution of steps. See: https://github.com/kyma-project/test-infra/issues/6134

[2022-10-07 10:22] Ressetkk commented on #5891
Hijacking this issue. We have migrated some repositories:
* kyma https://github.com/kyma-project/test-infra/pull/6065
* test-infra https://github.com/kyma-project/test-infra/pull/5961
* api-gateway https://github.com/kyma-project/test-infra/pull/6117
* control-plane https://github.com/kyma-project/test-infra/pull/6110
* keda-manager https://github.com/kyma-project/test-infra/pull/6036
* lifecycle-

[2022-10-07 11:37] Ressetkk commented on #5746
I've already explained it

GOPROXY (https://proxy.golang.org) already ensures that the module program imports has matching checksums in go.mod. No need to verify that locally.

golangci-lint contains `govet` linter https://golangci-lint.run/usage/linters/

[2022-10-07 12:43] Ressetkk commented on #2491
Closing as in favor of migrating to Artifact Registry. This issue will be invalidated, as service accounts will only have access on specific registry level, not the project or bucket one.

/close

[2022-10-07 12:43] #2491 closed

[2022-10-07 13:23] dekiel opened #6138 "Remove protecode guard prowjobs."
**Description**

Protecode guard prowjobs were made recently optional. We decide to remove this jobs completely as they report the same vulnerabilities as hourly scans. Executing scans and blocking PR merge will bring value if only vulnerabilities introduced by change in PR will be reported.

**Tasks**
- [x] Remove protecode guard jobs running on pull reuqests.
- [x] Disable and archive jenkins jo

[2022-10-07 14:17] tobiscr opened #6139 "[Kyma module release pipeline] Automated Kyma module release process (technical validation of Kyma modules)"
**Description**

With Kyma modularisation, the approach for releasing Kyma will change from a monolithically process (all Kyma component were released together) towards microdeliveries (each component will be released individually). Kyma components will in the future be bundled in so called Kyma module. A Kyma module can include several Kyma components. The release cycle for a Kyma module will be

[2022-10-07 15:11] Ressetkk commented on #6134
Keep in mind that Prow uses old `v1alpha1` Tekton API which is deprecated by Tekton. There is PR for quite some time https://github.com/kubernetes/test-infra/pull/27034 that updates Tekton API to `v1beta1`. We can either make POC for v1alpha1 and wait for new API support.

[2022-10-09 23:50] Ressetkk commented on #5853
/remove-lifecycle stale
/lifecycle frozen

[2022-10-10 13:20] dekiel commented on #5112
We remove an acceptance criteria "create an index with documentation inventory" as we consider it as the same as second one "setup a tool automatically maintaining documentation ...".
@dekiel  will create a separate issue for "identify missing or outdated documentation for offered tools" to get a list of documentation to remove.
@dekiel will setup a separate issue and meeting for making an agreeme

[2022-10-10 20:17] dekiel opened #6144 "Outdated and missing documentation."
**Description**

This issue is a collector of information about outdated or missing documentation in repositories maintained by neighbours team.
- kyma-project/test-infra
- kyma-project/third-party-images
- kyma/sec-tools-client
- kyma/security-dashboard
- kyma/test-infra
- kyma/security-scans-pipelines
- kyma/protescan

Collected list will be used to plan documentation updated.

Add information a

[2022-10-10 20:30] dekiel commented on #6144
Outdated documentation to remove #5827

[2022-10-11 06:57] dekiel commented on #6113
A solution we will choose must be able to work with all our repositories and build index page for each repository. As mentioned by @kasiakepka our index pages can be then linked in kyma wide documentation.

Implementation for other repos can be covered by later issues.

[2022-10-11 07:07] dekiel opened #6147 "Design documentation structure."
**Description**

We want to make some agreement about our documentation structure. Having written design will make our docs predictable and consistent. A design should make our docs easy to find for users and easy to maintain for developers. We aim to have a simple structure yet usable. Our documentation is not an official product documentation and we don't expect a wide audience outside our teams

[2022-10-11 10:27] dekiel commented on #6144
Missing documentation.

It happens a Gardener is not able to delete test kyma cluster. It might happen because some finalizers for resources created by kyma instalator were not removed and Gardener cleaner stuck on deleting them. A possible workaround is to clean them manually.

Gardener error

![Image](https://user-images.githubusercontent.com/48180632/190346771-477570f4-d08f-42a5-b3e4-56edf5cb67

[2022-10-11 10:50] dekiel commented on #6147
Proposals of repository docs structure.
- Each repository should contain an automatically updated index page in docs directory.
- Each repository should link to this index page from repository main README.md file.
- Documentation for specific tools and libraries are maintained in the same directory as a tool or library.
- If a tool has pkg and cmd directory containing a code, documentation must be

[2022-10-11 12:50] Halamix2 commented on #6144
Secret manager: we don't have any formal documentation how we should name secrets or labels

[2022-10-11 12:52] Halamix2 commented on #6138
- [ ] remove Cloud Scheduler cron job
- [ ] remove cloud functions

[2022-10-11 14:51] Ressetkk opened #6156 "pjtester: tool picks up incorrect jobs for running if the same named ones are in different repos"
Currently some of the jobs that are defined in different repositories, but share the same namer incorrectly picked up by pjtester.

When we have 2 jobs `pull-schema-migrator-build` in Prow config, but under different OrgRepo mapping (this is allowed Prow design) pjtester can pick up incorrect job.
<img width="1405" alt="image" src="https://user-images.githubusercontent.com/23667947/195124069-15ec6

[2022-10-12 07:02] khlifi411 commented on #6038
This error is not happening anymore. closing the ticket.

[2022-10-12 07:02] #6038 closed

[2022-10-12 09:17] dekiel commented on #5832
Credentials API plugin provide a way to update secrets in Jenkins secrets store over REST API https://github.com/jenkinsci/credentials-plugin/blob/master/docs/user.adoc#managing-an-existing-credentials-instance and using Jenkins CLI. https://github.com/jenkinsci/credentials-plugin/blob/master/docs/user.adoc#updating-credentials

[2022-10-12 10:47] Ressetkk opened #6166 "image-builder: allow define additional tags as tags.Tagger template and populate runtime environment variables with a file"
/area ci
/kind feature

This blocks the migration of third-party-images to image-builder

Maintainers of https://github.com/kyma-project/third-party-images build images where tag includes fluent-bit (and other) stuff populated using variables defined in Makefile. They would like to keep that information in a tag to keep compatibility with old format.

As we have a requirement that all images must

[2022-10-12 11:16] halamix2 opened #6168 "[Security] Simplify Gardener SA rotation tool"
**Description**

Currently the code for secret rotation is doubled, this can be simplified by reusing generic SA rotation function

**Reasons**

**Acceptance Criteria**

- [ ] use generic SA rotation function and cleanup function
- [ ] trigger on `SECRET_VERSION_ADD` event

**Attachments**

[2022-10-13 08:29] #6138 closed

[2022-10-13 11:54] dekiel commented on #5832
Did a research on possible implementation. A GCP Secret Manager plugin looks promising. It provides a GCP backed crendetials store in Jenkins. All pipelines using credentials from this store query a Secret Manager for secret value at the time of usage. This means there is no need to update secrets values on Jenkins. Once a new version of secret is added in Secret Manager it will be used by Jenkins

[2022-10-13 12:23] Sawthis opened #6176 "Upgrade Prow clusters to k8s 1.24 and finally to 1.25"
**Description**

Upgrade [Prow clusters](https://console.cloud.google.com/kubernetes/list/overview?project=sap-kyma-prow) to k8s 1.24. For upgrade from k8s 1.23 to 1.24 [migration from Docker to containerd is required](https://cloud.google.com/kubernetes-engine/docs/deprecations/docker-containerd).

**Reasons**

[K8s 1.23](https://kubernetes.io/releases/#release-v1-23) has end of life at 2023-02-2

[2022-10-13 12:53] kasiakepka opened #6177 "Extend onboarding guides for kyma developers"
**Description**
We would like to put more structure and rules in to documentation for tools offered by Neighbors. We will create comprehensive test-infra and Prow onboarding guides.

**Task**
Create comprehensive test-infra and Prow onboarding guides.

**AC**
- markdown file that covers onboarding for test-infra and Prow

**Attachments**

It is a part of https://github.com/kyma-project/test-infra/

[2022-10-13 13:04] kasiakepka commented on #6144
Neighbors info tab 💡 should be also stored in a md files and linked to the rest of our documentation. https://github.com/orgs/kyma-project/projects/22/views/32

[2022-10-13 14:33] k15r commented on #6129
the issue is a result of a change in the serverless component. Functions will not be rebuilt during the upgrade, but the environment variables used for their configuration will change. This causes the tracer for the node runtime to fail.

An easy fix would be to rebuild the function image during the cluster upgrade.

[2022-10-13 14:39] kwiatekus commented on #6129
caused by https://github.com/kyma-project/kyma/issues/15790

[2022-10-14 11:05] #5827 closed

[2022-10-17 06:01] barchw commented on #5588
GCP api-gateway pipeline was set to mandatory

[2022-10-17 06:01] #5588 closed

[2022-10-17 07:14] #5749 closed

[2022-10-17 08:14] #5441 closed

[2022-10-17 09:40] #6130 closed

[2022-10-18 11:43] #5868 closed

[2022-10-18 11:44] #5748 closed

[2022-10-19 10:07] dekiel commented on #6147
Two more rules we could establish.
- A documentation file describing a standard which must be follow in our repos must start with standard_ prefix.
- A documentation file describing a best practice which should be follow in our repos must start with bestpractice_ prefix.

[2022-10-20 07:50] #6166 closed

[2022-10-20 09:07] tobiscr commented on #6057
Counter part on Kyma-cluster side is this [issue](https://github.tools.sap/kyma/backlog/issues/3095)

[2022-10-21 08:12] tobiscr commented on #5993
We are going to drop all old reconciler prow jobs soon, closing this ticket as it's becoming obsolete

[2022-10-21 08:12] #5993 closed

[2022-10-24 07:36] tobiscr opened #6222 "Define evaluation matrix and requirements for pipeline POCs"
**Description**

As part of the automated mircodelivery process, the CI/CD system has to be evaluated. To get comparable results, an evaluation guideline has to be defined which is used to challenge each CI/CD system in a structured way.

The guide has to cover:
* definition of a test pipeline which has to be implemented by the CI/CD system  (as diagram + step-wise short explanation what the step

[2022-10-24 07:37] tobiscr opened #6223 "POC using Piper + Azure DevOps"
**Description**

The POC is using Azure DevOps + Piper to verify the technical feasibility of the requirements defined in #6222.

An Azure Devops account can be requested via the [SAP Hyperspace self-service portal](https://hyperspace.tools.sap/).

See also the [Hyperspace documentation](https://hyperspace.tools.sap/docs/) and [Piper documentation](https://github.wdf.sap.corp/pages/ContinuousDeliv

[2022-10-24 07:37] tobiscr opened #6224 "POC using Piper + Jaas"
**Description**

The POC is using [JaaS (Jenkins as a Service) + Piper ](https://wiki.one.int.sap/wiki/display/MPProdServ/JaaS+and+Piper)to verify the technical feasibility of the requirements defined in #6222.

An JaaS instance can be requested via the [SAP JaaS self-service portal](https://jenx.int.sap.eu2.hana.ondemand.com/#/imageDetail/Jenkins_GKE_2.346.2_PIPER_0002).

See also the [Jaas docum

[2022-10-24 08:58] marcobebway commented on #5220
/remove-lifecycle stale

[2022-10-25 09:28] Sawthis commented on #6113
https://github.com/mmiranda/markdown-index go library is not a good solution. It generates list of all heading and index file is almost 660 lines long. In my opinion it is better to implement own solution in Go which will be more flexible and we will have more control about output file content.

[2022-10-25 14:05] #5786 closed

[2022-10-26 07:24] dekiel commented on #6113
The index page must contain list of all .md files located in repository together with links to that .md files.
The page should contain brief summary of each .md file.

[2022-10-26 07:27] Sawthis commented on #6113
@kyma-project/prow - example of generated list of md files from test-infra repository  [index.md](https://github.com/kyma-project/test-infra/files/9867119/index.md). We need to define structure of this index.md file but it doesn't block this issue. We can change structure in the future easily.

@dekiel I will add title or description from every md file to the index.md file.

[2022-10-26 07:30] tillknuesting opened #6247 "Prow: Refactor jobs to be compliant SLC-29"
- [x] make btp-manager pipeline work again and test
- [x] verify kaniko build packs

[2022-10-26 07:42] #5290 closed

[2022-10-26 09:11] dekiel opened #6250 "Exclude automatically generated .md files from reviews."
A file [inventory-integration.md](https://github.com/kyma-project/test-infra/blob/main/test-inventory-integration.md) is automatically generated when prowjob definition change. Requiring review from technical writers doesn't make sense for this file. In fact this file should not be owned by anyone as changes in this file are reviewed by owners of prowjob definition files.

Once we will have more a

[2022-10-26 09:17] Wawrzyn321 opened #6252 "Pass additional environment variables to Docker builds"
**Description**

In @kyma-project/hasselhoff, we want to migrate Busola jobs to the new tooling, however we have discovered that it's not straightforward - we need to pass `DOCKER_TAG` (so either commit hash or `PR-XXXX`) environment variable to our Dockerfile, which is not possible with the new tooling.

**Attachements**

- [Job we're using currently](https://github.com/kyma-project/test-infra/bl

[2022-10-26 09:34] dekiel commented on #6113
Can we have feature excluding some files? I think following files could be removed from list.

- [.githooks/README.md](/.githooks/README.md)<br/>
- [CODE_OF_CONDUCT.md](/CODE_OF_CONDUCT.md)<br/>
- [CONTRIBUTING.md](/CONTRIBUTING.md)<br/>
- [NOTICE.md](/NOTICE.md)<br/>
- [README.md](/README.md)<br/>

[2022-10-26 09:37] Sawthis commented on #6113
@dekiel yes we can, I already excluded md files from .github/ folder.

[2022-10-27 08:25] tobiscr commented on #5575
Overlapping with #6139

[2022-10-27 08:39] Ressetkk commented on #5900
/remove-lifecycle stale
/lifecycle frozen

We'll get back to it eventually

[2022-10-27 08:46] varbanv commented on #5581
Nobody is using this job so it should be deleted.

[2022-10-27 09:09] #6057 closed

[2022-10-27 13:53] Ressetkk commented on #6113
@Sawthis it looks great. However, I would see it a little bit differently. Right now this file looks super lengthy and in my opinion doesn't provide required information quickly, as index is supposed to do.

I would rather see it as page with listed directories, eg.:

# Static Heading

Static description of what this file is meant for

## Docs

[Changelog Generator](development/changelog-generator

[2022-10-27 14:04] Ressetkk commented on #6250
You can't do it with CODEOWNERS. CODEOWNERS work with the regular expression that [does not support negative matches](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax). You can't simply exclude only one .md file from the match. https://github.com/kyma-project/test-infra/blob/dce4769a4c2dbcd4e358b

[2022-10-27 14:18] Ressetkk commented on #6247
One request - do not use shell script. If you don't have a feature that you'd like to have in image-builder, then please raise a PR with a feature or create an issue. And if you really need to make a script, make it in the target repo.

[2022-10-28 07:40] pbochynski commented on #5583
Job is green now.

[2022-10-28 07:40] #5583 closed

[2022-10-28 12:24] dekiel commented on #6113
@Sawthis Looks good. Make this list more compact is a good idea. You could think about following changes.
- Make an entry title a hyperlink as well and remove link from the last line of entry. This will save us one line for each entry.
- Change title formatting from heading to paragraf with bold. Entries titles will be smaller.
- Exclude directory listing .md files like https://github.com/kyma-pro

[2022-10-31 09:41] kasiakepka opened #6287 "[Daily Buiness] Label synchronisation enhancement"
**Description**

Currently we use [Label synchronisation tool](https://github.com/kyma-project/test-infra/blob/main/prow/labels.yaml) to synchronise labels across kyma repositories. Standard set of labels (around 100) is copied over to the newly created repos.  Since kyma is migrating to the modular architecture we don't need to synchronise all labels we have, we would like to have more flexibilit

[2022-10-31 11:01] kasiakepka commented on #6144
Add links to the label_sync documentation https://github.com/kubernetes/test-infra/tree/master/label_sync

[2022-11-02 08:20] franpog859 commented on #5783
I believe we can close this issue as both jobs are now quite successful. Check out their history [here](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-kyma-integration-k3d-app-conn-validator?buildId=) and [here](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/logs/post-main-kyma-integration-k3d-runtime-agent?buildId=). Please, reopen this issue

[2022-11-02 08:20] #5783 closed

[2022-11-02 08:37] tillknuesting commented on #6247
https://github.com/kyma-project/test-infra/pull/6300

[2022-11-02 09:47] kasiakepka opened #6303 "[Operation] Unify loggers (if possible) and the log format in Go-code"
**Description**
- Currently we are using different loggers.
- [Many pipelines are failing](https://github.com/kyma-project/test-infra/pull/6274) due to API changes in loggers.
- Standardise the log format to use a defined pattern everywhere

**Reasons**
Unify loggers and ease the maintenance.

**Acceptance Criteria**

- [ ] Update documentation or create short documentation that defines the standa

[2022-11-02 11:38] Tomasz-Smelcerz-SAP opened #6305 "Outdated K8s version for shoot creation (Gardener)"
**Description**

Cluster creation in many prow jobs fail with:
[code]

**Expected result**

The cluster is created

**Actual result**

Cluster creation fails with an error

**Steps to reproduce**

https://storage.googleapis.com/kyma-prow-logs/pr-logs/pull/kyma-project_control-plane/2211/pre-main-control-plane-reconciler-e2e/1587749184176394240/build-log.txt

**Troubleshooting**

N/A

[2022-11-02 11:52] halamix2 opened #6307 "[Security] Improve Service Account cleaner"
**Description**

Service Account cleaner checks of the latest version of a key is older than *age* parameter (e.g. 24h). If it isn't then rotation is skipped.
If a secret rotates more frequently (e.g. 1h), then non of the older versions will be deleted.

**Reasons**

We need to clean up old versions of keys, as each Service Account can only have 10 keys (GCP limitation)

**Acceptance Criteria**

*

[2022-11-02 12:14] dekiel commented on #5833
I did try setup https://plugins.jenkins.io/gcp-secrets-manager-credentials-provider/ without success. A plugin requires to define environment variable for jenkins process to allow plugin populate credentials store with secrets from GCP secret manager and keep them up to date. This was not possible due to limitations of our jaas instance. I have still ongoing discussion with jaas team to make sure

[2022-11-02 15:26] dekiel commented on #5832
POC is ready with following flow.
1. A secret for test service account is set to rotate every 3 hours.
2. Secret-manager send pubsub message when rotation is needed. This messages are consumed by existing cloud function which creates a new key for sa and add it as a new version in secret manager.
3. Secret-manager send pubsub message when new secret version is added.
4. Message is send to github u

[2022-11-02 15:35] Halamix2 commented on #6134
Tekton 0.37.2 is the latest version that supports `v1alpha1` API.

[2022-11-03 06:50] Sawthis commented on #6303
https://github.com/kyma-project/test-infra/pull/6312

[2022-11-03 06:50] Sawthis commented on #6303
https://github.com/kyma-project/test-infra/pull/6319

[2022-11-03 11:26] Ressetkk commented on #6222
Requirements each pipeline has to meet from my side:

|Requirements|Why is it required|How to measure the requirement|
|---|---|---|
|Safe access to the secrets|SLC-29, prevent secrets from leaking through the logs or other attacks|Every secret used in the pipeline is masked and there is no direct access to it through the logs or other actions|
|No privileged containers|SLC-29, restrict access to

[2022-11-03 14:25] kasiakepka commented on #6177
Documents that are a good starting point:
- https://github.com/kyma-project/test-infra/blob/main/docs/prow/prow-jobs-quick-start.md
- https://github.com/kyma-project/test-infra/blob/6d608cbc358e04958734b9c51b801b7b2d5d8bec/development/tools/cmd/pjtester/README.md
- https://github.com/kyma-project/test-infra/tree/6d608cbc358e04958734b9c51b801b7b2d5d8bec/development/tools/cmd/rendertemplates
- https

[2022-11-03 14:53] tobiscr opened #6326 "Close open PRs without activities after 5 + 2 days"

[2022-11-03 15:00] tobiscr commented on #6326
It has to be clarified within the Kyma teams, for which repository this feature should be enabled. It will for sure be enabled for all repos owned by the neighbor team.

[2022-11-03 16:08] dekiel commented on #6326
A tool could be enabled by team itself by adding some configuration in their repository. That way we don't need to manage that. Especially we will crate that tool for us.

[2022-11-04 10:18] dekiel commented on #6156
With changes in #5544 a pjtester require a user to provide an organisation and repository names together with prowjob name to test. Pjtester use this to load prowjob definition for provided  repo only.

[2022-11-04 10:41] dekiel commented on #6250
A file /test-inventory-integration.md is now not owned by any specific team or user. Changes to that file require approval from any CODEOWNER. Because changes in this file are caused by changes in other files in repository, owners of other changed files will have to approve changes. Our technical writers will not be requested for review in such scenario anymore.
We don't need a codeowners-validato

[2022-11-04 10:41] #6250 closed

[2022-11-04 11:37] #5766 closed

[2022-11-04 11:37] #6156 closed

[2022-11-04 11:56] halamix2 opened #6334 "[Operation] Add alerting for secret rotation"
**Description**

**Reasons**

**Acceptance Criteria**

- [x] Add alerting for failures in KMS cleaner
- [ ] Add alerting for failures in CGP SA rotation
- [x] Add alerting for failures in CGP SA cleaner
- [x] Add alerting for failures in Gardener GCP SA rotation
- [ ] ~~Add alerting for failures in Gardener SA token rotation~~

**Attachments**

- #5691

[2022-11-04 14:44] #6099 closed

[2022-11-04 17:58] dekiel opened #6339 "[CI] Automatically regenerate prowjobs when repository is added, removed or archived."
**Description**

When a repository status in our organisations changes a static prowjobs definitions stored in test-infra repository must be regenerated. This activity must be triggered automatically by github [webhook](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#repository). We have some prowjobs which must be executed for all repositories suppor

[2022-11-07 10:47] kasiakepka commented on #6222
|---|---|---|
|Defining workflows|Defining pipeline as a set of steps allows us to create more sophisticated workflows and cover more complex testing scenarios. It will improve debugging, visibility and reuse of code.| Verify if it is possible to setup pipelines where next step is executed after a condition is met. |

[2022-11-07 11:00] Sawthis commented on #6222
@kasiakepka @tobiscr do we want to allow also manual steps in the workflows like PO approval etc. ?

[2022-11-07 12:35] kasiakepka opened #6346 "Create POC using tekton-pipeline: evaluation matrix [part 2]"
**Description**

There is more and more demand for workflow like prowjobs. We see such requirements coming from developers and from kyma modularisation project. Prow has support for using a tekton pipeline as agent executing prowjob logic. However this feature is not documented. We need to research how difficult would be to setup tekton based prowjobs.

Tekton itself is a native k8s CI/CD tool. It

[2022-11-07 13:36] kasiakepka commented on #6222
one more idea
|Requirements|Why is it required|How to measure the requirement|
|---|---|---|
|General UX | How easy and fast it is to setup pipelines. What is overall experience with the tool. | Rate overall UX on a scale from 1 to 5 where 1 is bad and 5 is exccellent. |

[2022-11-08 08:06] tobiscr commented on #6222
Requirements | Why is it required | How to measure the requirement
-- | -- | --
|easy debugable|For developing new pipeline steps, it's helpful to have debugging options to analyze the implemented code when its executed inside of a pipeline|CI/CD system offers debugging possibilities (e.g. connect the CI/CD system with a debugger, easyreadable log outputs etc.|
|Run CI/CD system locally|To shorten

[2022-11-08 08:39] dekiel opened #6352 "Dedicated field for periodics i pjtester.yaml"
**Description**

Periodic prowjobs are not defined for repositories. If periodic prowjob needs to clone repository it must be defined in extra refs section. At present pjtester.yaml file syntax require to provide an org and repo names for which a prowjob is defined. It's not possible to meet this requirement for periodics. As a workaround when testing periodic, a developer must provide kyma-projec

[2022-11-08 09:40] Ressetkk opened #6355 "Block or notify users when require labels are missing"
We should enable plugin `require-matching-label` on specific repos (kyma and test-infra for now) to notify user that their issue/PR is missing required labels.

* Add new labels `needs-area` and `needs-kind` to labels.yaml
* Add `require-matching-label` config to plugins.yaml used on https://status.build.kyma-project.io/plugins examples

[code]

/area ci
/kind feature

[2022-11-08 18:01] Halamix2 commented on #5853
trusted and untrusted clusters now have GKE workload identity enabled

[2022-11-08 23:04] dekiel commented on #6134
Tekton hub own instance installation: https://github.com/tektoncd/hub/blob/main/docs/DEPLOYMENT.md

[2022-11-09 08:08] #6147 closed

[2022-11-09 08:15] Ressetkk commented on #6222
All information have been collected on internal Wiki for now, as it's mostly internal stuff.

/close

[2022-11-09 08:15] #6222 closed

[2022-11-09 08:27] tobiscr commented on #5891
Blocked by https://github.com/kyma-project/test-infra/issues/6252

[2022-11-10 06:46] Sawthis commented on #6303
Probably another problematic pull request: https://github.com/kyma-project/test-infra/pull/6358

[2022-11-10 06:49] Sawthis commented on #6303
Dependabot ignore section: https://github.com/kyma-project/test-infra/blob/main/.github/dependabot.yml#L18-L31

[2022-11-10 14:53] tobiscr commented on #6326
Within the PO round was agreed, that the automated PR "stale" detection mechanism should run for all repositories (as it's currently the case). The thresholds can be equal to the stale-issue detection mechanism.

[2022-11-10 15:14] Ressetkk commented on #5832
Yeah, the concept sound to be working good already. However, I'm still not bought by a concept of using git as source of truth. Here's my concerns:
1. It introduces a middle external service that is out of the scope of us
2. It's much harder to debug, because if something breaks you have to look at
  * GCP PubSub logs
  * Both of the CloudRun logs
  * Secret Manager logs
  * CloudRun -> GHE integr

[2022-11-14 10:08] dekiel commented on #5832
At. 1 Why this is a problem? We use plenty external services. Is this middle external service not reliable? Is it not supported? Do you have any data to point this might be a problem or it's just  your personal preferences?
At 2. With your steps you could remove:
  - cloud run -> ghe integration
  - ghe -> jenkins integration
But you will add:
  - jenkins -> secret manager integration
Other points

[2022-11-14 11:27] Ressetkk commented on #5832
1. Running simple script that runs for several seconds will *not* increase Jenkins workloads at all. Those take very little CPU time and disk space. Load will not be even noticeable. If you want to talk about money, then it is included in Jenkin's price, since the instance doesn't scale.
2. In my opinion there is literally no need to be strict with secret rotation time frames. Having an ~hour of t

[2022-11-14 13:23] dekiel commented on #5832
At. 1 Running script will use CPU and other resources. Saying it will not increase load is **NOT A TRUE**. If we will have more and more such small scripts running every minute, hour we will have to go for bigger Jenkins instance. Saying that running some workload cost nothing is simply **NOT A TRUE**. Same for API calls to secret manager. They cost too.

At 2. In my opinion there is a need. Havin

[2022-11-14 13:30] tobiscr commented on #5832
I also agree with @Ressetkk that the solution has a higher complexity as a pure pull approach within Jenkins.

But I also agree with your arguments that

1. the pull appraoch is much more resource intensive and not scaling (adding more systems which have to rotate secretes could lead to an overload of the secret manager)
2. in Jenkins is usually Groovy required to interact with the secret store -

[2022-11-14 13:34] #5832 closed

[2022-11-14 13:35] dekiel commented on #5833
We need more detailed requirements matrix. we can research on possibilities once we will know detailed direction.

[2022-11-14 13:35] #5833 closed

[2022-11-14 14:01] Ressetkk commented on #5832
Sure, let's argue about the fractions of CPU time for a script that can run as simple cron task and will barely be even noticeable from instance perspective.

I'm afraid to say that 20-liner script written in Groovy will not be a huge addition to the technical debt we already have. This is case only for Jenkins. There is no need to build a complicated stuff just only for one instance which will ev

[2022-11-14 14:07] tobiscr opened #6388 "Support cloning of ARM64/M1 images"
**Description**

Currenlty is the image cloner only copying images which have an AMD64 architecture. This is blocking people who run on Mac M1 as the cloned ARM64 images are not working properly for them.

Goal is to extend the current image cloner to support also Mac M1 architectures (please make it configurable which archs it has to support).

AC:
* image syncer also copies images with Mac M1 ar

[2022-11-14 16:31] dekiel commented on #5832
So arguing about checking logs in one cloud run is better? Especially these logs will be stored along with other.

[2022-11-15 08:18] tobiscr commented on #5832
@Ressetkk : I doubt that 20lines (it depends how "nice" you want to have it.. but I would expect 200-400 lines) for this feature will be enough in Groovy as interacting with the credentials store needs some boilerplate code.

But I think the amount of lines is here not the challenge, it's more the increase of complexity / learning efforts caused by adding another programming language in place.

As

[2022-11-15 14:07] kasiakepka commented on #5692
For now we will close this issue.

[2022-11-15 14:07] #5692 closed

[2022-11-15 14:15] #5017 closed

[2022-11-15 14:18] kasiakepka commented on #4979
I think that Goats would benefit from that feature.

[2022-11-15 14:21] Ressetkk commented on #6355
Duplicate of #4968
/close

[2022-11-15 14:55] #981 closed

[2022-11-15 15:07] #5019 closed

[2022-11-15 20:55] dekiel opened #6401 "Github user access management and IAM"
**Description**

Found it!!! I saw a Github blog about open sourcing Github Entitlements some time ago and couldn't find it recently. Just dropping links here to research on this tool. Maybe it's a good candidate to make our github user management declarative, structured, trackable and automated.

https://github.blog/2022-06-09-introducing-entitlements-githubs-open-source-identity-and-access-manag

[2022-11-16 09:50] Halamix2 commented on #5853
Prow cluster now have GKE workload identity enabled

[2022-11-16 09:50] #5853 closed

[2022-11-16 09:53] Halamix2 commented on #5853
Summary:
* on all clusters Workload Identity is enabled
* prow itself uses workload identity instead of secrets
* Secret syncer uses workload identity instead of secrets on all three clusters

[2022-11-16 12:02] dekiel commented on #3724
@tobiscr @kasiakepka  asked me if it make sens to implement this issue.
In my opinion answer depend if we still would like to use a kyma. In the past we were asked by @arturskorupa  to start using a Kyma for some internal purposes. At present this tooling kyma acts as a notification gateway. We run serverless functions to route and format messages to slack. We planned to interact with github from

[2022-11-16 12:05] dekiel commented on #2632
Closing it because, at present I would rather think about possibility to let user change image by adding it's url in pjtester.yaml file. This will be easier and faster for user and simpler to implement.

[2022-11-16 12:09] dekiel commented on #2522
This issue requirements are not fulfilled. Moreover we need to redefine it's description and acceptance criteria to align with current state and plans, but the overall need is still valid.

[2022-11-17 13:00] Sawthis opened #6416 "Delete all preset-gke-pod-security-policy: "true" from test-infra code"
**Description**

Delete all [preset-gke-pod-security-policy: "true"](https://github.com/kyma-project/test-infra/search?q=preset-gke-pod-security-policy) when release jobs for kyma 2.8 will no longer exist.

Follow up issue for: https://github.com/kyma-project/test-infra/pull/6408

[2022-11-17 13:57] arturskorupa commented on #6133
@zhoujing2022 It would be good to run on release branch all jobs which are a quality gate during the release process, to fail fast. Can you please list them to let @tobiscr plan automation?

[2022-11-17 14:12] zhoujing2022 commented on #6133
I prepared a sheet. We have to figure out at first, which jobs are for what relevant.
https://sap.sharepoint.com/:x:/t/SAPCPFoundationalPlane/Ean9XxOpexxMrUUzNGoEeTUB6euYCUcVt21_q0hNcdGjtQ?email=zhoujing.wang%40sap.com&e=4%3aa9jWdd&at=9

[2022-11-21 06:40] Halamix2 commented on #4943
/remove-lifecycle stale

[2022-11-21 11:05] tobiscr commented on #6388
Relates to https://github.com/kyma-project/test-infra/issues/5246

[2022-11-21 14:19] Sawthis commented on #5951
Please reopen the issue if it will be still relevant for modular Kyma.

[2022-11-21 14:19] #5951 closed

[2022-11-22 08:47] #6247 closed

[2022-11-22 10:40] dekiel opened #6438 "[Cost Saving] Logging storage retention rule."
**Description**

We need establish rule how long we will store logs in GCP logging. This rule should be rolled out to all our projects before 01.03.2023

**Reasons**

</strong></p><h3 style="caret-color: rgb(180, 196, 203); color: rgb(180, 196, 203); font-family: Roboto, arial; font-style: normal; font-variant-caps: normal; letter-spacing: normal; orphans: auto; text-align: start; text-indent: 0px

[2022-11-22 10:46] dekiel commented on #5991
/lifecycle unstale

[2022-11-22 10:46] dekiel commented on #5991
/remove-lifecycle stale

[2022-11-22 10:48] dekiel commented on #4476
Future of this issue depends on a future of tooling Kyma instance. @tobiscr did you have chance to talk if we should still keep it running?

[2022-11-22 10:48] dekiel commented on #4476
/remove-lifecycle stale

[2022-11-22 10:50] dekiel commented on #5765
@tobiscr please consider taking this issue to next sprint. This will bring us closer to releasing inrepo config feature for teams.
/remove-lifecycle stale

[2022-11-22 10:52] dekiel commented on #5764
@tobiscr this issue is related to inrepo config. Maybe we could take one issue from inrepo config epic for each sprint to release inrepo to the teams soon.
/remove-lifecycle stale

[2022-11-25 12:01] #6113 closed

[2022-11-25 13:10] dekiel opened #6464 "Adding prowjob without respective data file didn't blocked."
**Description**

Pull request adding a new prowjob definition file without respective data file and without running rendertemplate was not blocked. A test pre-main-test-infra-validate-generated-files didn't failed.

**Expected result**

A test pre-main-test-infra-validate-generated-files should detect difference between data and target files and fail to prevent PR from merging.

It happened here:

[2022-11-25 14:26] jakobmoellersap opened #6465 "Kaniko builds are flaking with high build-times, increasing time to release by up to 30 minutes"
**Description**

When trying to build with `kaniko`, prow-jobs in the test-infra controlled clusters tend to flake to high build times (we saw over 30 minutes of build time for certain jobs).

We do not really know why this is happening, since the majority of builds run just fine in under < 4 minutes.

https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pull-lifecy

[2022-11-25 14:26] jakobmoellersap commented on #6465
/kind bug

[2022-11-25 16:26] Ressetkk commented on #6465
I've set the resource requests for build jobs to be 1.5Gi mem and 1 CPU in #6467 Let's see if this will stabilize the build.

/unkind bug

[2022-11-25 16:29] Ressetkk commented on #6465
/remove-kind bug

[2022-11-29 10:52] raypinto opened #6478 "Gardner gcp provisioning fails on prow jobs"
**Description**

Gardner provisioning on our mandatory prow pipelines are failing constantly with the following error:

[code]

Pipelines affected:

- [pre-main-kyma-gardener-gcp-eventing
](https://status.build.kyma-project.io/job-history/gs/kyma-prow-logs/pr-logs/directory/pre-main-kyma-gardener-gcp-eventing)
- [pre-main-kyma-gardener-gcp-eventing-upgrade](https://status.build.kyma-project.io/job

[2022-11-30 07:45] franpog859 opened #6483 "Define Compass credentials as a k8s Secret"
**Description**

Define k8s Secret with the Compass credentials. Once they are defined as a Secret and added to the prowjob, Prow censor is aware of them and will be able to mask them in the build log output

**Reasons**

Having credentials stored in other places than k8s Secret may cause a leak of the confidential data

**Acceptance Criteria**

Compass credentials used in the prowjobs are defined

[2022-11-30 09:23] dekiel opened #6484 "[Security] Switch to artifact registry predefined roles."
**Description**

To grant access permissions to dev and prod Kyma artifact registries we should use a predefined roles for artifact registry. At present we granted a basic roles on registry resource level. To let developers read, write and delete images and tags we should grant role Artifact Registry Repository Administrator.

**Acceptance Criteria**
- [ ] No basic IAM roles are granted on artifac

[2022-11-30 20:28] #6134 closed

[2022-11-30 20:28] #6346 closed